<extend name="Public:base" />
<block name="main">
	<div class="content" id="content">
		<div class="ident_nav">
			<em class="back"></em>
			<span class="on" @click="ontab(0)">{$Think.lang._WAP_POINTORDER_NOTVERIFIED_}</span>
			<span @click="ontab(1)">{$Think.lang._WAP_POINTORDER_VERIFIED_}</span>
		</div>
		<div class="ident_search">
			<em></em>
			<input type="text" name="" placeholder="{$Think.lang._WAP_POINTORDER_SEARCH_}" v-model="keyword" @change="searchGoods">
		</div>
		<div class="integral_goods" v-if="nothing == 0">
			<!-- 未认证 -->
			<div class="is_hgoods" v-if="is_auth == 0">
				<div class="sel_goodsm">
					<ul>
						<li v-for="(item,index) in goodsList">
							<div class="s_goods_wrap">
								<div class="s_cbox">
									<input type="checkbox" name="" :id="item.id" @change="selfun">
									<label :for="item.id"></label>
								</div>
							</div>
							<a :href="'/Goods/goodsDetail?goods_id='+item.id">
								<div class="imgbox">
									<img :src="item.goods_image">
								</div>
								<div class="se_ggg sexiao">
									<h1>{{item.goods_name}}</h1>
									<p class="db-overflow">{{item.introduction}}</p>
									<span>RM{{item.goods_price}}</span>
								</div>
							</a>
						</li>
					</ul>
				</div>
				<a href="javascript:;" class="widup" @click="goodsToAuth">{$Think.lang._WAP_POINTORDER_APPLY_}</a>
			</div>
			<!-- 已认证 -->
			<div class="is_hgoods" v-else>
				<div class="sel_goodsm">
					<ul>
						<li v-for="(item,index) in goodsList">
							<div class="is_hhh">
								<a :href="'/Goods/goodsDetail?goods_id='+item.id">
									<div class="imgbox">
										<img :src="item.goods_image">
									</div>
									<div class="se_ggg">
										<h1>{{item.goods_name}}</h1>
										<p class="db-overflow">{{item.introduction}}</p>
										<span>RM{{item.goods_price}}</span>
									</div>
								</a>
							</div>
						</li>
					</ul>
				</div>
			</div>

		</div>
		<!-- 没有内容 -->
		<div class="no_igoods" v-else-if="nothing == 1 && is_auth == 0">
			<p>{$Think.lang._WAP_POINTORDER_NOTHAVEUNVERIFIED_}</p>
		</div>
		<div class="no_igoods" v-else-if="nothing == 1 && is_auth == 1">
			<p>{$Think.lang._WAP_POINTORDER_NOTHAVEVERIFIED_}</p>
		</div>
	</div>
</block>
<block name="curScript">
<script type="text/javascript">
	var vm = new Vue({
		el : "#content",
		data : {
			goodsList : [],
			page : 1,
			goscroll : 1,
			is_auth : 0,
			nothing : 1,
			keyword : '',
			goods_id : ''
		},
		created(){
			this.getGoodsList();
			this.loadmore();
		},
		mounted(){
		   $('#Jloading').fadeOut();
		},
		methods : {
			getGoodsList : function(){
				var that = this;
				$.ajax({
					url : "{:U("Agent/agentGoods")}",
					type : "POST",
					dataType : "json",
					data : {
						page : that.page,
						is_auth : that.is_auth
					}
				})
				.done(function(returnData){
					if( returnData['data']['list'].length > 0 ){
						if( that.goodsList.length == 0 ){
							that.goodsList = returnData['data']['list'];
						}else{
							that.goodsList = that.goodsList.concat(returnData['data']['list']);
						}
						that.goscroll = 1;
						that.nothing = 0;
					}else{
						that.goscroll = 0;
						if( that.goodsList.length == 0 ){
							that.nothing = 1;
						}
					}
				})
			},
			searchGoods : function(){
				var that = this;
				that.page = 1;
				that.goodsList = [];
				$.ajax({
					url : "{:U("Agent/agentGoods")}",
					type : "POST",
					dataType : "json",
					data : {
						is_auth : that.is_auth,
						page : that.page,
						keyword : that.keyword
					}
				})
				.done(function(returnData){
					if( returnData['data']['list'].length > 0 ){
						if( that.goodsList.length == 0 ){
							that.goodsList = returnData['data']['list'];
						}else{
							that.goodsList = that.goodsList.concat(returnData['data']['list']);
						}
						that.goscroll = 1;
						that.nothing = 0;
					}else{
						that.goscroll = 0;
						if( that.goodsList.length == 0 ){
							that.nothing = 1;
						}
					}
					console.log(that.nothing);
				})
			},
			goodsToAuth : function(){
				var that = this;
				var start_time = new Date();
				start_time.setTime(start_time.getTime() + 24*60*60*1000);
				start_time = start_time.getFullYear()+"-" + (start_time.getMonth()+1) + "-" + start_time.getDate();
				$.ajax({
					url : "{:U("GoodsCheck/goodsToAuth")}",
					type : "POST",
					dataType : "json",
					data : {
						goods_id : that.goods_id,
						start_time : start_time,
						check_type : 0,
					}
				})
				.done(function(data){
					if (data.status == 200000) {
						var url = "{:U('GoodsCheck/payForCheck')}?tab=1&order_sn=" + data['data']['order_sn'];
                        window.location.href = url;
					}else{
						automsgbox(data.message);
					}
				})
			},
			ontab : function(index){
				var that = this;
				$(event.target).siblings('span').removeClass('on');
				$(event.target).addClass("on");
				that.is_auth = index;
				that.goodsList = [];
				that.getGoodsList();
			},
			selfun : function(){
				var that = this;
				$('input').attr('checked',false);
				$(event.target).attr('checked',true);
				that.goods_id = $(event.target).attr('id');
			},
			loadmore(){
				var that = this;
				document.addEventListener("scroll",function(){
					var scrollTop = window.pageYOffset 
						|| document.documentElement.scrollTop 
						|| document.body.scrollTop 
						|| 0;
					if(scrollTop + window.innerHeight >= document.body.clientHeight){
						if(that.goscroll){
							that.page++;
							that.goscroll = 0;
							that.getGoodsList();
						}
					}
				})
			}
		}
	})
</script>
</block>