<extend name="Common:base" />

<block name="cusStyle">
	<link rel="stylesheet" href="__PUBLIC__/Admin/js/kindeditor/themes/default/default.css" />
	<style type="text/css">
		.adddivs{height:50px;position: relative;margin:10px auto;text-align: center;}
		.adddivs .addinput{width: 50px; height: 50px; opacity: 0; display: inline-block;}
		.adddivs .cutIcon{position:absolute;width:12px;height:12px;display: block;left: -4px;top:-4px;background: url(__PUBLIC__/Admin/images/cus_close.png) no-repeat center center;background-size: 12px;cursor: pointer;cursor: pointer;display: block;}
		.adddivs .addinput-bg{width:50px;height:50px;display: inline-block;margin-left: 10px;background: url(/Static/Public/Admin/images/upload-bg.png) no-repeat center center;background-size: 48px;border:1px dashed #d5d5d5;}
		.adddivs .img-bg{position: relative;width:50px;height:50px;display: inline-block;}
	</style>
</block>

<block name="menu">
	<include file="Point:menu" />
</block>

<block name="main">
<div class="pageheader">
    <h1 class="pagetitle">
    	编辑商品
    </h1>
    <span class="pagedesc"></span>
</div>

<div id="contentwrapper" class="contentwrapper">
	<form class="stdform stdform2" action="{:U('Point/pointEditGoods')}" method="post" id="JgoodsForm">
		<div class="line-dete">
			<label>商品名称</label>
	        <span class="field">
	        	<input class="smallinput" type="text" name="goods_name" id="goods_name" value="{$goodsInfo['goods_name']}" />
	        </span>
		</div>
		
		<div class="line-dete">
			<label>商品介绍</label>
	        <span class="field">
	        	<textarea name="introduction" cols="10" rows="5" id="introduction" placeholder="请输入商品副标题">{$goodsInfo['introduction']}</textarea>
	        </span>
		</div>

		<div class="line-dete">
			<label>支持配送方式</label>
	        <span class="field">
	        	<input type="checkbox" class="expressType" value="0" <if condition="strpos($goodsInfo['express_type'], '0') !== false">checked</if>>送货上门
	        	&nbsp;&nbsp;&nbsp;
	        	<input type="checkbox" class="expressType" value="1" <if condition="strpos($goodsInfo['express_type'], '1') !== false">checked</if>>上门取货
	        	<input type="hidden" name="express_type">
	        </span>
		</div>

		<div class="line-dete">
			<label>兑换积分</label>
	        <span class="field">
	        	<input class="smallinput" type="text" name="goods_price" id="goods_price" value="{$goodsInfo['goods_price']}" />
	        </span>
		</div>

		<div class="line-dete">
			<label>商品图片</label>
	        <div class="field" id="JpointEditGoodsWrap">
				<input type="hidden" id="JcoverPid" name="goods_image" value="{$goodsInfo['goods_image']}">
				<div id="photoList" class="m-photo-list">
					<volist name="goodsImg" id="img">
						<div class="pic-wrap">
							<i class="del-pic" data-id="{$img['id']}"></i>
							<img src="{$img['goods_image']}" <if condition="$img['goods_image'] eq $goodsInfo['goods_image']">class="s-cover"</if>/>
							<input type="hidden" name="images[]" value="{$img['goods_image']}">
						</div>
					</volist>
				</div>
				<div class="upload-wrap">
	        		<input type="file" id="fileToUpload" name="fileToUpload" class="f-upload" />
	        	</div>
	        </div>
		</div>

		<div class="line-dete">
			<label>库存量</label>
	        <span class="field">
	        	<input class="smallinput" type="text" name="goods_number" id="goods_number" value="{$goodsInfo['goods_number']}" />
	        </span>
		</div>
         
		<div class="line-dete"	> 
			<label>商品详情</label>
		    <span class="field">
		    	<textarea class="text" name="description" id="goodsDetail">{$goodsExtInfo}</textarea>
		    </span>
		</div>
		
		<div class="line-dete">
			<label></label>
	        <span class="field">
	        	<input type="button" class="stdbtn JgoodsSubmit" data-onsale="1" value="修改" style="margin-left:10px" />
	        	<input type="hidden" name="id" value="{$goodsInfo['id']}">
	        </span>
		</div>
	</form>
</div>
</block>

<block name="script">
	<script type="text/javascript" src="__PUBLIC__/Admin/js/plugins/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Common/js/json2.js"></script>
	<script charset="utf-8" type="text/javascript" src="__PUBLIC__/Admin/js/kindeditor/kindeditor-min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Admin/js/kindeditor/lang/zh_CN.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Common/js/ajaxfileupload.js"></script>
	<script type="text/javascript">
		var firstUpload = true;
		var expressType = [];
		var editor;
		KindEditor.ready(function(K) {
			editor = K.create('#goodsDetail', {
				height: "600px",
				allowFileManager: true,
				uploadJson: '{:U("Goods/descUploadPic")}',
				items : ['source','fontname','fontsize','forecolor','preview','selectall','justifyleft','justifycenter','justifyright','link','unlink','image'],
				afterCreate : function() {
					this.loadPlugin('autoheight');
				}
			});
		});

		$('.expressType').each(function(){
			if ( $(this).is(':checked') ) {
				var val = $(this).val();
				expressType.push(val);
			}
		});

		// 选择配送方式
		$('.expressType').click(function(){
			var val = $(this).val();
			if ( $(this).is(':checked') ) {
				expressType.push(val);
			} else {
				for (var i = 0; i < expressType.length; i++) {
					if ( expressType[i] == val ) {
						expressType.splice(i, 1);
					}
				}
			}
		});

		$('.JgoodsSubmit').click(function() {
			$('input[name="express_type"]').val(expressType.join(','));
			editor.sync();
			$('#JgoodsForm').submit();
		});

		$("#photoList").on('click', 'img', function() {
			$("#photoList").find('img').removeClass('s-cover');
			$(this).addClass('s-cover');
			$('#JcoverPid').val($(this).attr('src'));
		});

		$('.line-dete').on('click', '.del-pic', function() {
			$(this).parent().remove();
		});

		$(document).on('change', '#fileToUpload', function() {
			var goodsImgLength = $('#photoList').find('img').length;
			goodsImgLength = parseInt(goodsImgLength);
			$.ajaxFileUpload({
				url: "{:U('Point/photoUpload')}",
				secureuri: false,
				fileElementId: 'fileToUpload',
				dataType: 'json',
				success: function (data, status) {
					if(typeof(data.error) != 'undefined') {
						if(data.error != '') {
							alert(data.error);
						} else {
							$("#photoList").append('<div class="pic-wrap"><i class="del-pic"></i><img src="' + data.src + '" /><input type="hidden" name="images[]" value="' + data.src + '" /></div>');

							if (firstUpload && goodsImgLength === 0) {
								firstUpload = false;
								$('#JcoverPid').val(data.src);
								$("#photoList").find('img').addClass('s-cover');
							}
						}
						$('#JpointEditGoodsWrap .upload-wrap').remove();
						$('#JpointEditGoodsWrap').append('<div class="upload-wrap"> <input type="file" id="fileToUpload" name="fileToUpload" class="f-upload" /> </div>');
					}
				},
				error: function (data, status, e) {
					alert(e);
				}
			});
		});
	</script>
</block>