<extend name="Common:base" />

<block name="title">积分商品管理</block>

<block name="menu">
	<include file="Point:menu" />
</block>

<block name="main">
	<div class="pageheader">
	    <h1 class="pagetitle">
	    	积分商品管理
	    	<if condition="checkActionAuth('Point-pointAddGoods')">
	    	<a href="{:U('Point/pointAddGoods')}" class="btn btn_link" style="float: right"><span style="font-size:14px">新增+</span></a>
	    	</if>
	    </h1>
	    <span class="pagedesc"></span>
	</div>
	<div id="contentwrapper" class="contentwrapper">
        <form  action="{:U('Goods/import')}" method="post" enctype="multipart/form-data" onsubmit="return checked()">
            <span style="float:right;margin-right: 20px;">
			
        	</span>
        </form>
		<form action="{:U('Point/pointGoodsList')}" method="get" id="searchForm">
            <div>
             店铺名称：<input type="text" name="agent_name"  placeholder="输入搜索店铺名称" value="{$return['agent_name']}" />&nbsp;&nbsp;&nbsp;
              商品名称：<input type="text" name="goods_name"  placeholder="输入搜索商品名称" value="{$return['goods_name']}" />&nbsp;&nbsp;&nbsp;
             	<label>商品类型：</label>
				<select name="goods_type">
				    <option value="-1">全部</option>
					<option value="0" <if condition="$return['goods_type'] eq 0">selected</if>>自营商品</option>
					<option value="1" <if condition="$return['goods_type'] eq 1">selected</if>>卖家商品</option>
				</select>
				<label>商品状态：</label>
				<select name="is_on_sale">
					<option value="-1">全部</option>
					<option value="0" <if condition="$return['is_on_sale'] eq 0">selected</if>>已下架</option>
					<option value="1" <if condition="$return['is_on_sale'] eq 1">selected</if>>已上架</option>
				</select>
             	<input type="submit" value="筛选"/>
             	
             	<input type="button" id="JsetOnSale" value="批量下架" />
             	
             	<input type="button" id="JdeleteAll" value="批量删除" />
            </div>
            <br>
            <table cellpadding="0" cellspacing="0" border="0" class="stdtable stdtablequick">
               
                 <tr>
                    <th><input type="checkbox" id = "ids" /></th>
					<th>ID</th>
					<th>商品名称</th>
					<th>店铺名称</th>
					<th>商品类型</th>
					<th>销量</th>
					<th>收藏</th>
					<th>兑换积分</th>
					<th>库存</th>
					<th>状态</th>
					<th>时间</th>
					<th>操作</th>
				</tr>
				
				<if condition="empty($pointGoodsList)">
					<tr>
						<td colspan="12">暂无相关数据</td>
					</tr>
				<else />
					<volist name="pointGoodsList" id="goods" >
						<tr>
                            <td><input type="checkbox" name="checkbox"  class="ids" value="{$goods.id}"/></td>
							<td>{$goods['id']}</td>
							<td><img src="{$goods['goods_image']}" alt="" height="40px">&nbsp;&nbsp;&nbsp;{$goods['goods_name']|mySubstr=###,43}</td>
							<td>{$goods['agent_name']}</td>
							<td>{$goods['goods_type']}</td>
							<td>{$goods['sale_number']}</td>
							<td>{$goods['collect_number']}</td>
							<td>{$goods['goods_price']}</td>
							<td>{$goods['goods_number']}</td>
							<td>
								<if condition="$goods['is_on_sale'] eq '1' ">
									已上架
								<else/>
									已下架
								</if>
							</td>
							<td>{$goods['add_time']|time_format=###}</td>
							<td class="center">
								<if condition="checkActionAuth('Goods-editGoods') || checkActionAuth('Goods-setOnSale') || checkActionAuth('Goods-delGoods')">
									<a class="stdbtn btn_lime" href="{:U('Point/pointEditGoods', array('id'=>$goods['id']))}">编辑</a>&nbsp;&nbsp;
								</if>
								<if condition="checkActionAuth('Point-setOnSale')">
									<if condition="$goods['is_on_sale'] eq '1'">
										<a class="stdbtn btn_lime" href="{:U('Point/setOnSale', array('ids'=>$goods['id'], 'is_on_sale'=> '0'))}">下架</a>&nbsp;&nbsp;
									<else />
										<a class="stdbtn btn_lime" href="{:U('Point/setOnSale', array('ids'=>$goods['id'], 'is_on_sale'=> '1'))}">上架</a>&nbsp;&nbsp;
									</if>
								</if>
								<if condition="checkActionAuth('Point-delGoods')">
									<a class="stdbtn btn_lime" href="{:U('Point/pdelGoods', array('id'=>$goods['id']))}">删除</a>&nbsp;&nbsp;
								</if>
							</td>
						</tr>
					</volist>
					<tr>
						<td colspan="12">
							<div class="page-box">{$show}</div>
						</td>
					</tr>
				</if>
			</table>
		</form>
	</div>
</block>

<block name="script">
<script type="text/javascript">
	$(function(){
    	//全选
        $('#ids').click(function(){
            if($(this).is(":checked"))
            {
                $('.ids').prop('checked',true);
            }else{
                $('.ids').prop('checked',false);
            }
        }); 

		//批量删除
		$("#JdeleteAll").click(function () {
			var objs = $('.ids');
			var ids = '';
			for(var j=0;j<objs.length;j++)
			{   
				if ($(objs[j]).is(':checked'))
				{
			    	ids += $(objs[j]).val()+',';
				}
			}
			var jumpUrl = "{:U('Point/delGoods')}" + '?ids=' + ids;
			window.location.href = jumpUrl;
		});

		//批量下架
		$("#JsetOnSale").click(function () {
			var objs = $('.ids');
			var ids = '';
	        var is_on_sale = '0';
	        
			for(var j=0;j<objs.length;j++)
			{   
				if ($(objs[j]).is(':checked'))
				{
			    	ids += $(objs[j]).val()+',';
				}
			}
			var jumpUrl = "{:U('Point/setOnSale')}" + '?ids=' + ids + '&is_on_sale=' + is_on_sale;
			window.location.href = jumpUrl;
		});
	});
</script>
</block>