<extend name="Public:base" />
<block name="main">
	<div class="content" id="content">
		<header class="head">
			<span class="back"></span>
			<h1 class="y-confirm-order-h1">{$Think.lang._WAP_FORGET_RESETPASSWORD_}</h1>
		</header>
		<div class="forget_psw">
			<form>
				<ul>
					<li>
						<div class="fpinput">
							<span>{$Think.lang._WAP_USER_ACCOUNT_}</span>
							<input type="text" name="" placeholder="{$Think.lang._WAP_FORGET_ENTERNUMOREMAIL_}" id="Account" v-model="dataJson.account">
						</div>
					</li>
					<li>
						<div class="fpinput">
							<span>{$Think.lang._WAP_FORGET_NEWPASSWORD_}</span>
							<input type="password" name="" placeholder="{$Think.lang._PC_LOGIN_ENTER_NEW_PASSWORD_}" v-model="dataJson.password">
						</div>
					</li>
					<li>
						<div class="fpinput">
							<input type="text" name="" placeholder="{$Think.lang._WAP_REGISTER_VERIFY_}" class="codet" v-model="dataJson.verify">
							<a href="javascript:;" class="fpcode_btn" v-if="noget" @click="getCode">{$Think.lang._PC_LOGIN_GET_VERIFICATION_CODE_}</a>
							<a href="javascript:;" class="fpcode_btn grey" v-else>{$Think.lang._WAP_REGISTER_REGAINVERIFY_}{{settimes}}</a>
						</div>
					</li>
				</ul>
			</form>
			<div class="fpcao">
				<p>{$Think.lang._WAP_FORGET_TIPS_}</p>
				<a href="javascript:;" class="reset_psw" @click="commitFun">{$Think.lang._WAP_FORGET_RESETPASSWORD_}</a>
			</div>
		</div>
	</div>
</block>
<block name="curScript">
	<script type="text/javascript">
		var vm = new Vue({
			el : "#content",
			data : {
				dataJson : {},
				noget : 1,
				settimes : 60,
				account : '',
			},
			mounted(){
			   $('#Jloading').fadeOut();
			},
			methods : {
				commitFun : function(){
					var that = this;
					that.account = $('#Account').val();
					$.ajax({
						url : "{:U("Login/resetPassword")}",
						type : "POST",
						dataType : "json",
						data : {
							account : that.account,
							verify : that.dataJson.verify,
							password : that.dataJson.password,
						}
					})
					.done(function(data){
						if (data.status == 200000) {
                            automsgbox(data.message,function() {
                                window.location.href = "{:U('Login/login')}";
                            },true);
                        } else {
                            automsgbox(data.message);
                        }
					})
				},
				getCode : function(){
					var that = this;
					that.account = $('#Account').val();
					$.ajax({
						url : "{:U("Login/getVerifyCode")}",
						type : "POST",
						dataType : "json",
						data : {
							account : that.account,
							type : 2,
						}
					})
					.done(function(returnData) {
                       if (returnData.status == 200000) {
                            var thats = $('.getCode_btn');
                            that.settime(thats);
                       } else {
                            automsgbox(returnData['message']);
                       }
                   })
				},settime : function (_this) {
                    var that = this;
                    if (vm.settimes == 0) { 
                        _this.html("{$Think.lang._WAP_REGISTER_REGAINVERIFY_}"); 
                        vm.noget = 1;
                        vm.settimes = 60; 
                        return;
                    } else { 
                        _this.html("{$Think.lang._WAP_REGISTER_REGAINVERIFY_}(" + vm.settimes + ")""); 
                        vm.noget = 0;
                        vm.settimes--;
                    } 
                    setTimeout(function() { that.settime(_this) } ,1000) 
                }
			}
		})
	</script>
</block>