<extend name="Common:base" />
<block name="title">商家审核</block>
<block name="cusStyle">
	<link rel="stylesheet" href="__PUBLIC__/Admin/css/jquery.datetimepicker.css" type="text/css" />
	<style type="text/css">
		.givepop-box{ width: 400px; min-height: 180px; background: #fff; overflow: hidden; }
		.givepop-box .g-line{ line-height: 32px; margin-top: 20px; padding-left: 120px; }
		
		.givepop-box .stdbtn{ margin-left: 150px; margin-top: 30px}
		.caiji-box{ max-height: 500px; overflow: auto; }
	</style>
</block>
<block name="menu">
	<include file="Agent:menu" />
</block>
<block name="main">
	<div class="pageheader">
	    <h1 class="pagetitle">商家审核</h1>
	    <span class="pagedesc"></span>
	</div>
	<div id="contentwrapper" class="contentwrapper">
		<form action="{:U('Agent/checkAgentList')}" method="get" id="searchForm">
            <p>
            	<label>账号：</label>
				<input type="text" name="nickname" placeholder="输入搜索账号" value="{$return['nickname']}">
				&nbsp;&nbsp;
            	<label>店铺名称：</label>
                <input type="text" name="agent_name" placeholder="输入搜索店铺名称" value="{$return['agent_name']}"/>
				&nbsp;&nbsp;
				<label>真实姓名：</label>
                <input type="text" name="manager" placeholder="输入真实姓名" value="{$return['manager']}"/>
				&nbsp;&nbsp;
            	<label>审核状态：</label>
				<select name="status">
					<option value="-1">全部</option>
					<option value="0" <if condition="$return['status'] eq '0'">selected</if>>正在审核</option>
					<option value="2" <if condition="$return['status'] eq '2'">selected</if>>未通过</option>
				</select>
				&nbsp;&nbsp;
            </p>
            <p>
           		<label>注册时间：</label>
				<input type="text" id="staDatartTime" date-time="{$return['startTime']}" style="margin-right: 0px">
				<input type="hidden" name="start_time" id="startTime" value="{$return['startTime']}" >
				-
				<input type="text" id="endDataTime" date-time="{$return['endTime']}">
				<input type="hidden" name="end_time" id="endTime" value="{$return['endTime']}">
				&nbsp;&nbsp;
				<label>平台分类：</label>
				<select name="category_id">
					<option value="">全部</option>
					<volist name="categoryList" id="data">
						<option value="{$data['id']}" <if condition="$return['category_id'] eq $data['id']">selected</if>>{$data['category_name']}</option>
					</volist>
				</select>
				&nbsp;&nbsp;
             	<input type="submit" value="筛选"/>
            </p>
        </form>
		<table cellpadding="0" cellspacing="0" border="0" class="stdtable stdtablequick">
			<tr>
				<th>序号</th>
				<th>账号</th>
				<th>店铺名称</th>
				<th>店铺分类</th>
				<th>店铺位置</th>
				<th>真实姓名</th>
				<th>注册时间</th>
				<th>审核状态</th>
				<th width="19%">操作</th>
			</tr>
			<if condition="empty($list)">
				<tr>
					<td colspan="9">暂无相关数据</td>
				</tr>
			<else />
				<volist name="list" id="data">
					<tr>
						<td>{$data['id']}</td>
						<td>{$data['nickname']}</td>
						<td>{$data['agent_name']}</td>
						<td>{$data['category_name']}</td>
						<td>{$data['address']}</td>
						<td>{$data['manager']}</td>
						<td>{:time_format($data['add_time'])}</td>
						<td>
							<if condition="$data['status'] eq '0'">
								正在审核
							<else />
								未通过
							</if>
						</td>
						<td class="center">
							<if condition="checkActionAuth(array('Agent-agentDetail', 'Agent-checkAgent'))">
								<if condition="checkActionAuth('Agent-agentDetail')">
									<a class="stdbtn btn_lime" href="{:U('Agent/agentDetail', array('id'=>$data['id']))}">查看
								    </a>
								</if>
								<if condition="checkActionAuth('Agent-checkAgent')">
									<!-- <button class="stdbtn btn_lime" onclick="checkAgent({$data['id']},'1')">通过
								    </button>&nbsp;&nbsp; -->
								    <a href="javascript:checkAgent({$data['id']},'1');" class="stdbtn btn_lime">通过</a>
								    <a href="javascript:checkAgent({$data['id']},'2');" class="stdbtn btn_lime">拒绝</a>
								</if>
							<else />
								无权限操作
							</if>
						</td>
					</tr>
				</volist>
				<tr>
					<td colspan="9">
						<if condition="$counting lt 25">
						<else />
						   <div class="page-box">{$show}</div>
					    </if>
					</td>
				</tr>
			</if>
		</table>
	</div>
</block>
<block name="script">
<script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.datetimepicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/moment.min.js"></script>
<script type="text/javascript">
	function checkAgent(id,status){
		$.ajax({
			url : '{:U('Agent/checkAgent')}',
			type : 'GET',
			dataType : 'json',
			data:{id: id,status: status}
		})
		.done(function(returnData){
			if(returnData['status'] == '200000') {
				//出现弹窗
				var pass = '<div class="givepop-box"><h1 class="g-line">审核已通过</h1><div class="g-line"><span class="stdbtn Jdelivery-commit" >确定</span></div></div>'
				popwin('',pass);
			} else {
				alert('审核失败');
			}
		})
	}
	$(function(){
		$('#staDatartTime').val(moment.unix($('#staDatartTime').attr('date-time')).format("YYYY-MM-DD HH:mm:ss"));
		$('#endDataTime').val(moment.unix($('#endDataTime').attr('date-time')).format("YYYY-MM-DD HH:mm:ss"));
		$('#staDatartTime').datetimepicker({
			format:"Y-m-d H:i:s", 
			onChangeDateTime:function(dp, $input) {
				$('#startTime').val(moment($input.val()).unix().valueOf(-60));
			}
		});
		$('#endDataTime').datetimepicker({
			format:"Y-m-d H:i:s", 
			onChangeDateTime:function(dp, $input) {
				$('#endTime').val(moment($input.val()).unix().valueOf(-60));
			}
		});
		
		//关闭弹窗
		$(document).on('click','.Jdelivery-commit',function(){
			// 关闭弹窗
			popclose();
			window.location.href="{:U('Agent/checkAgentList')}";
		});
	})
</script>
</block>