.mask{width:100%;height:100%;position:fixed;top:0;left:0;bottom:0;right:0;overflow:auto;background:rgba(0,0,0,.4);z-index:6;display:none;}
.replay_m{width:40%;padding:10px 15px;border:1px solid #ddd;border-radius:10px;background:#fff;position:fixed;top:50%;left:50%;transform:translate(-50%,-50%);--webkit-transform:translate(-50%,-50%);z-index:7;display:none;}
.replay_m p{color:#333;font-size:16px;line-height:30px;margin:0;}
.replay_m textarea{width:99%;height:70px;border:1px solid #e4e4e4;margin:10px 0;padding:1%;color:#666;}
.replay_m textarea.on{border:1px solid #1296db;}
.replay_m .rbtn{overflow:hidden;padding:10px 0;text-align:right;}
.replay_m .rbtn span{text-align:center;line-height:27px;padding:0 20px;border-radius:5px;border:1px solid #e4e4e4;display:inline-block;cursor:pointer;}
.replay_m .rbtn span:hover{background:#967bdc;border:1px solid #967bdc;color:#fff;}