<extend name="Public:base" />
<block name="style">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Wechat/css/LCalendar.css">
</block>
<block name="main">
	<div class="content" id="content">
		<header class="head">
			<span class="back"></span>
			<h1 class="y-confirm-order-h1">{$Think.lang._WAP_AGENT_PRODUCTSMANAGEMENT_}</h1>
			<a href="{:U('Agent/searchAgentGoods')}"><em></em></a>
		</header>
		<div class="main">
			<div class="g_nav" id="nav">
				<a href="javascript:;">
					<span class="on" id="Jcalendar" @click="getChangeGoods('time')">{$Think.lang._WAP_AGENT_ADDTIME_}</span>
					<input id="Jcalendar" type="text" name="" value="" v-model="start_time">
					<input id="birthday" type="hidden" name="birthday" value="2007-11-08">
				</a>
				<a href="javascript:;">
					<span @click="getChangeGoods('salesSort')">{$Think.lang._WAP_AGENT_SALESRECORD_}</span>
				</a>
				<a href="javascript:;">
					<span @click="getChangeGoods('numberSort')">{$Think.lang._WAP_AGENT_INSTOCK_}</span>
				</a>
			</div>
			<div class="goods_wrap">
				<ul>
					<li v-for="(item, index) in goodsList">
						<div class="imgbox">
							<img :src="item['goods_image']">
							<div class="eyebox">
								<em @click="jumpToGoodsDetail(item['id'])"></em>
							</div>
						</div>
						<div class="goods_de" @click="jumpToEditGoods(item['id'])">
							<p class="name">{{item['goods_name']}}</p>
							<p class="price">RM{{item['goods_price']}}</p>
							<span class="tt">{$Think.lang._WAP_AGENT_SALESRECORD_}{{item['sale_number']}} {$Think.lang._WAP_AGENT_FAVORITE_}{{item['collect_number']}} {$Think.lang._WAP_AGENT_INSTOCK_}{{item['goods_number']}}</span>
							<span class="tt">{{item['add_time']|time("yyyy-MM-dd")}}{$Think.lang._WAP_AGENT_ADD_}</span>
						</div>
						<em class="go" @click="jumpToEditGoods(item['id'])"></em>
					</li>
				</ul>
			</div>
		</div>
	</div>
</block>
<block name="curScript">
<if condition="$_COOKIE['think_language'] eq 'zh-cn'">
	<script type="text/javascript" src="__PUBLIC__/Wechat/js/LCalendar.js"></script>
<else/>
	<script type="text/javascript" src="__PUBLIC__/Wechat/js/LCalendar_en.js"></script>
</if>
<script type="text/javascript">
	var vm = new Vue({
		el : "#content",
		data : {
			goodsList : [],
			page : 1,
			goscroll : 1,
			salesSort : -1,
			numberSort : -1,
			start_time : ''
		},
		created(){
			this.loadGoods();
			this.loadmore();
		},
		mounted(){
		   $('#Jloading').fadeOut();
		},
		methods : {
			loadGoods : function() {
				var that = this;
				$.ajax({
					url: '{:U('Agent/agentGoods')}',
					type: 'POST',
					dataType: 'json',
					data: {
						page : that.page,
						sale_sort : that.salesSort,
						number_sort : that.numberSort,
						date : that.start_time
					}
				})
				.done(function(returnData) {
					if( returnData['data']['list'].length > 0 ){
						if( that.goodsList.length == 0 ){
							that.goodsList = returnData['data']['list'];
						}else{
							that.goodsList = that.goodsList.concat(returnData['data']['list']);
						}
						that.goscroll = 1;
					}else{
						that.goscroll = 0;
					}
				});
			},
			getChangeGoods : function(type){
				var that = this;
				$(event.target).parent().siblings().find('span').removeClass('on');
				$(event.target).addClass('on');
				switch(type){
					case 'time' :
						
						break;
					case 'salesSort' :
						if(that.salesSort == 1){
							that.salesSort = 0;
						}else{
							that.salesSort = 1;
						}
						that.goodsList = [];
						that.numberSort = -1;
						that.salesSort = that.salesSort;
						that.loadGoods();
						break;
					case 'numberSort' :
						if(that.numberSort == 1){
							that.numberSort = 0;
						}else{
							that.numberSort = 1;
						}
						that.goodsList = [];
						that.salesSort = -1;
						that.numberSort = that.numberSort;
						that.loadGoods();
						break;
				}
			},
			loadmore(){
				var that = this;
				document.addEventListener("scroll",function(){
					var scrollTop = window.pageYOffset 
						|| document.documentElement.scrollTop 
						|| document.body.scrollTop 
						|| 0;
					if(scrollTop + window.innerHeight >= document.body.clientHeight){
						if(that.goscroll){
							that.page++;
							that.goscroll = 0;
							that.loadGoods();
						}
					}
				})
			},
			jumpToEditGoods(id) {
				window.location.href = "{:U('Goods/editGoods')}?id=" + id;
			},
			jumpToGoodsDetail(id) {
				window.location.href = "{:U('Goods/agentGoodsDetail')}?goods_id=" + id;
			}
		}
	})
	//初始化选择日期
	var calendar = new LCalendar();
    calendar.init({
        'trigger': '#Jcalendar', //标签id
        'type': 'date', //date 调出日期选择 datetime 调出日期时间选择 time 调出时间选择 ym 调出年月选择,
        'minDate': '2000-1-1', //最小日期
        'maxDate': new Date().getFullYear() + '-' + (new Date().getMonth() + 5) + '-' + new Date().getDate(), //最大日期,
        'callback': function() {
        	var birthday = $('#Jcalendar').val();
        	$('#birthday').val(birthday);
            var time = birthday.split('-');
            time = time.join('/');
            vm.start_time = time;
            vm.goodsList = [];
            vm.loadGoods();
        }
    });
</script>
</block>