<extend name="Public:base" />
<block name="style">
	<style type="text/css">
		body,.bcont{position:absolute;top:0;left:0;right:0;bottom:0;overflow:auto;}
	</style>
</block>
<block name="main">
	<div class="basic_wrap" id="content">
		<div class="conent bcont">
			<header class="head">
				<span class="back"></span>
				<h1 class="y-confirm-order-h1">{$Think.lang._PC_USER_BASIC_INFORMATION_}</h1>
			</header>
			<div class="main">
				<div class="y-bindphone">
					<ul>
						<li>
							<a href="javascript:;">
								<span>{$Think.lang._COMMON_AGENT_NAME_}</span>
								<i></i>
								<input type="text" name="" value="" v-model="dataJson.agent_name">
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<span>{$Think.lang._PC_USER_COMPANY_ADDRESS_}</span>
								<i></i>
								<input type="text" name="" value="" v-model="dataJson.address">
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<span>{$Think.lang._PC_USER_CONTACT_NUMBER_}</span>
								<i></i>
								<input type="text" name="" value="" v-model="dataJson.telephone">
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<span>{$Think.lang._PC_USER_MERCHANT_NUMBER_}</span>
								<i></i>
								<input type="text" name="" value="" v-model="dataJson.agent_phone">
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<span>{$Think.lang._PC_USER_CONTACT_PERSON_EMAIL_}</span>
								<i></i>
								<input type="text" name="" value="" v-model="dataJson.email">
							</a>
						</li>
						<li>
							<a href="javascript:;" @click="basicfun">
								<span>{$Think.lang._WAP_SUPPLEMENT_MERCHANTBUSINESS_}</span>
								<i></i>
								<input type="text" name="" readonly="readonly" v-model="namestr" placeholder="{$Think.lang._WAP_SUPPLEMENT_PLEASESELECT_}" id="Jtype" style="width:60%;">
							</a>
						</li>
					</ul>
					<div class="y-bin_ad">
						<div class="add_g_de">
							<div class="g_imgm">
								<p>{$Think.lang._PC_USER_MERCHANT_PICTURE_}</p>
								<ul>
									<li id="Img">
										<div class="imgbox">
											<img :src="imgurl">
											<em @click="delImageFun(index)"></em>
										</div>
									</li>
									<li id="filePicker">
										<div class="upload_input">
											<input type="file" name="upload_input" id="upload_input">
										</div>
									</li>
								</ul>
							</div>
							<div class="g_imgm">
								<p>{$Think.lang._PC_USER_MERCHANT_INTRODUCTION_}</p>
								<textarea placeholder="" v-model="dataJson.introduction"></textarea>
							</div>
						</div>
						<div class="add_g_keyword">
							<p>{$Think.lang._WAP_AGENT_MERCHANT_KETWORDS_}</p>
							<input type="text" name="" placeholder="{$Think.lang._WAP_GOODS_KEYWORDSTIPS_}" v-model="dataJson.agent_keyword">
						</div>
					</div>
					<a href="javascript:;" class="y_up" @click="commitFun">{$Think.lang._WAP_USER_SUBMIT_}</a>
				</div>
			</div>
		</div>
		<div class="content basic" id="basicData">
			<header class="head" style="position:absolute;">
				<span class="backed" @click="closeBaisc('back')"></span>
				<h1 class="y-confirm-order-h1">{$Think.lang._WAP_SUPPLEMENT_CHOOSECATEGORY_}</h1>
				<a href="javascript:;" class="mail" @click="closeBaisc('finish')">{$Think.lang._WAP_SUPPLEMENT_COMPLETE_}</a>
			</header>
			<div class="selClassfiy">  
				<p>{$Think.lang._WAP_SUPPLEMENT_TIPS_}</p>
				<ul id="checkBasic">
					<li v-for="(item,index) in dataList">
						<div class="sclont">
							<span>{{item.category_name}}</span>
							<div class="check_box">
								<input :id="item.id" type="checkbox" name="" :value="item.id" v-model="selbasic" @change="selfun(item.category_name)">
								<label :for="item.id"></label>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</block>
<block name="curScript">
<script type="text/javascript" src="__PUBLIC__/Common/js/ajaxfileupload.js"></script>
<script type="text/javascript">
	var vm = new Vue({
		el : "#content",
		data : {
			dataList : [],
			selbasic : [],
			selCategory : [],
			dataJson : {},
			imgurl : '',
			namearr:[],
			namestr:'',
		},
		created(){
			this.getDataList();
			this.getBasicFun();
		},
		mounted(){
		   $('#Jloading').fadeOut();
		},
		methods : {
			getDataList : function(){
				var that = this;
				$.ajax({
					url: "{:U("Category/agentCategory")}",
					type: "POST",
					dataType: 'json',
					data: {},
				})
				.done(function(data) {
					if(data.status == 200000){
						that.dataList = data.data.list;
					}
				})
			},
			selfun : function(name){
				var that = this;
				if($(event.target).is(':checked')){
				 	that.namearr.push(name);
				} else {
					that.namearr.shift(name);
				}
				if(that.selbasic.length > 3){
					that.selbasic.splice(0,1);
					that.namearr.splice(name,1);
				}
			},
			closeBaisc : function(type){
				var that = this;
				$("#basicData").removeClass("on");
				if(type = "finish"){
					var sel = that.namearr.join(",");
					that.namestr = sel;
				}
			},
			getBasicFun : function(){
				var that = this;
				$.ajax({
					url : "{:U("Agent/basicData")}",
					type : "POST",
					dataType : "json",
					data : {
						
					}
				})
				.done(function(data){
					if(data.status == 200000){
						that.dataJson = data.data.list;
						that.imgurl = data.data.list.logo;
						that.namestr = data.data.list.categoryids;
						var cate = that.namestr.split(',');
						for(var i = 0;i < cate.length;i++){
							if(cate[i].indexOf($("#"+cate[i]+"").val()) != -1){
								that.selbasic.push(cate[i]);
								that.namearr.push($("#"+cate[i]+"").parent().siblings('span').text());	
								that.namestr = that.namearr.join(",");
							}
						}
					}
				})
			},
			commitFun : function(){
				var that = this;
				var categoryids = that.selbasic.join(",");
				$.ajax({
					url : "{:U("Agent/basicData")}",
					type : "POST",
					dataType : "json",
					data : {
						agent_name : that.dataJson.agent_name,
						address : that.dataJson.address,
						email : that.dataJson.email,
						telephone : that.dataJson.telephone,
						agent_phone : that.dataJson.agent_phone,
						categoryids : categoryids,
						logo : that.imgurl,
						agent_keyword : that.dataJson.agent_keyword,
						introduction : that.dataJson.introduction,
						type : 1
					}
				})
				.done(function(data){
					if(data.status == 200000){
						automsgbox(data.message);
					}else{
						automsgbox(data.message);
					}
				})
			},
			basicfun : function(){
				var that = this;
				$("#basicData").addClass("on");
				for(var i = 0;i < that.selbasic.length;i++){
					$("#"+that.selbasic[i]+"").trigger('change');
				}
			},
			delImageFun : function(index){
				var that = this;
				$("#Img").remove();
				that.imgurl = "";
			}
		}
	})
	// 上传图片
	$(document).on('change', '#filePicker', function() {
	    $.ajaxFileUpload({
	        url: "{:U('Agent/photoUpload')}",
	        secureuri: false,
	        fileElementId: 'upload_input',
	        dataType: 'json',
	        success: function (data, status) {
	            console.log(data)
	            if(data.error != '') {
	                alert(data.errorStr);
	            } else {
	                vm.imgurl = data.url;
	            }
	        },error: function (data, status, e) {
	            alert(e);
	        }
	    });
	});
</script>
</block>