<extend name="Public:base" />

<block name="title">{$Think.lang._PC_GOODS_LEFT_CATEGORY_MENU_}</block>

<block name="menu">
	<include file="Goods:menu" />
</block>

<block name="style">
	<style type="text/css">
		.stdtable th, .stdtable td{text-align:center;}
		.txtEdit{display:inline-block;width:35px;height:35px;background:url(__PUBLIC__/Shop/images/edit_ico.png) center center no-repeat;background-size:25px;vertical-align:middle;cursor:pointer;}
		.txtEdit.on{background:url(__PUBLIC__/Shop/images/finish_ico.png) center center no-repeat;background-size:25px;}
		.intxt.on{border:1px solid #ccc;box-shadow: inset 0 1px 3px #ddd;-webkit-box-shadow: inset 0 1px 3px #ddd;-moz-box-shadow: inset 0 1px 3px #ddd;}
		.selnum{line-height:33px;vertical-align:middle;display:inline-block;}
	</style>
</block>

<block name="main">
	 <div class="pageheader">
	    <h1 class="pagetitle">{$Think.lang._PC_GOODS_LEFT_CATEGORY_MENU_}</h1>
	    <span class="pagedesc"></span>
	</div>
	<div id="contentwrapper" class="contentwrapper">
		<div style="margin-bottom:20px;">
     		<a href="javascript:;" class="btn btn_link" style="float:left;margin-right:15px;"><span style="font-size:14px;" id="Jdel">{$Think.lang._PC_GOODS_RIGHT_MULTIPLE_DELETE_}</span></a>
     		<span class="selnum">0{$Think.lang._PC_GOODS_RIGHT_HAS_SELECTED_}</span>
			<a href="javascript:;" class="btn btn_link" style="float:right;margin-right:15px;"><span style="font-size:14px;" id="newAdd">{$Think.lang._COMMON_ADD_}+</span></a>
        </div>
        <table cellpadding="0" cellspacing="0" border="0" class="stdtable stdtablequick" id="template">
        	<tr id="Jtr">
				<th>{$Think.lang._COMMON_ALL_SELECTED_}<input type="checkbox" id="ids"></th>
				<th>{$Think.lang._COMMON_CATEGORY_NAME_}</th>
				<th>{$Think.lang._PC_GOODS_PRODUCTS_NUMBER_}</th>
				<th>{$Think.lang._COMMON_SORT_}</th>
				<th>{$Think.lang._COMMON_OPERATE_}</th>
			</tr>
        </table>
        <div class="page-box" id="pageBox"></div>
	</div>
</block>
<block name="script">
<script id="category_tpl" type="text/html">
<%for(var i = 0; i < list.length; i ++){%>
	<%var data = list[i];%>
	<tr data-id="<%=data['id']%>" class="JgetID">
	    <td><input type="checkbox" name="checkbox" class="ids" value="{$goods.id}"/></td>
		<td>
			<input type="text" id="JcategoryName_<%=data['id']%>" value="<%=data['category_name']%>" readonly="readonly" class="intxt" style="border:none;box-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;text-align:center;">
			<em class="txtEdit Tname" data-id="<%=data['id']%>"></em>
		</td>
		<td><%=data['goods_number']%></td>
		<td>
			<input type="text" id="JcategorySort_<%=data['id']%>" value="<%=data['sort']%>" readonly="readonly" class="intxt" style="border:none;box-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;text-align:center;">
			<em class="txtEdit Tsort" data-id="<%=data['id']%>"></em>
		</td>
		<td class="center">
		<a class="stdbtn btn_lime" href="{:U('Agent/goodsModel')}?id=<%=data['id']%>">{$Think.lang._PC_GOODS_EDIT_GOODS_MODEL_}</a>&nbsp;&nbsp;
			<a class="stdbtn btn_lime" href="javascript:;" id="delType">{$Think.lang._COMMON_DELETE_}</a>
		</td>
	</tr>
<%}%>
</script>
<script type="text/javascript">
	var editbol = true,//控制修改还是完成状态
		addtime = true,//控制新增的频率
		page = 1,
		categoryId = "",//分类ID
		checknum = 0,//分类被选中的个数
		delcateId = [],//批量删除ID数组
		delId = "";//批量删除传后台ID
	var selectedLang = "{$Think.lang._PC_GOODS_RIGHT_HAS_SELECTED_}";
	/*使用模板引擎*/
    var bt = baidu.template;
    function loadData(page) {
    	popupWin.show('{$Think.lang._COMMON_LOADING_}');
    	$.ajax({
			url: '{:U('Category/agentGoodsCategory')}',
			type: 'POST',
			dataType: 'json',
			data: {
				id : "{$Think.session.agentId}",
				page : page,
				type : 1
			}
		})
		.done(function(returnData) {
			if ( returnData['data']['list'].length ) {
				var html = bt('category_tpl', returnData['data']);				
				$('#Jtr').nextAll().remove();
				$('#Jtr').after(html);
				createPageTags(returnData['data']['page'], returnData['data']['count'], 0);
				listenPageEvent(loadData);
			} else {
				alert('{$Think.lang._COMMON_NO_DATA_}');
			}
			popupWin.hide();
		});
    }
    loadData(1);

    // 编辑分类
    function editCategory(category_name,categoryId,sort) {
		$.ajax({
			url: '{:U('Agent/editAgentGoodsCategory')}',
			type: 'POST',
			dataType: 'json',
			data: {
				id : categoryId,
				category_name : category_name,
				sort : sort
			}
		})
		.done(function(returnData) {
			if ( returnData['status'] == '200000' ) {
				alert('{$Think.lang._COMMON_SUCCESS_}');
				(function reload(){
					window.location.href = window.location.href;
				})();
			} else {
				alert(returnData['message']);
			}
		});
	}

	// 编辑名称
    $("#template").on('click','.Tname',function(e){
    	if(editbol){
    		//进入编辑
	    	$(this).addClass("on");
	    	$(this).siblings("input").css({"border":"1px solid #ccc","box-shadow":"inset 0 1px 3px #ddd","-webkit-box-shadow":"inset 0 1px 3px #ddd","-moz-box-shadow":"inset 0 1px 3px #ddd"});
	    	$(this).siblings("input").attr("readonly",false);
	    	editbol = false;
    	}else{
    		//完成编辑
    		categoryId = $(this).data('id');
    		var category_name = $('#JcategoryName_' + categoryId).val(),
    			sort = $('#JcategorySort_' + categoryId).val();
    		editCategory(category_name, categoryId, sort);
    		$(this).removeClass('on');
    		$(this).siblings("input").css({"border":"none","box-shadow":"none","-webkit-box-shadow":"none","-moz-box-shadow":"none"});
    		$(this).siblings("input").attr("readonly",true);
    		editbol = true;
    	}
    })

    // 编辑排序
    $("#template").on('click','.Tsort',function(e){
    	if(editbol){
    		//进入编辑
	    	$(this).addClass("on");
	    	$(this).siblings("input").css({"border":"1px solid #ccc","box-shadow":"inset 0 1px 3px #ddd","-webkit-box-shadow":"inset 0 1px 3px #ddd","-moz-box-shadow":"inset 0 1px 3px #ddd"});
	    	$(this).siblings("input").attr("readonly",false);
	    	editbol = false;
    	}else{
    		//完成编辑
    		categoryId = $(this).data('id');
    		var category_name = $('#JcategoryName_' + categoryId).val(),
    			sort = $('#JcategorySort_' + categoryId).val();
    		editCategory(category_name, categoryId, sort);
    		$(this).removeClass('on');
    		$(this).siblings("input").css({"border":"none","box-shadow":"none","-webkit-box-shadow":"none","-moz-box-shadow":"none"});
    		$(this).siblings("input").attr("readonly",true);
    		editbol = true;
    	}
    })

    //新增分类
    function addCategory(category_name) {
		$.ajax({
			url: '{:U('Agent/addAgentGoodsCategory')}',
			type: 'POST',
			dataType: 'json',
			data: {category_name : category_name}
		})
		.done(function(returnData) {
			if ( returnData['status'] == '200000' ) {
				alert('添加分类成功');
				(function reload(){
					window.location.href = window.location.href;
				})();
			} else {
				alert(returnData['message']);
			}
		});
	}
    $("#newAdd").click(function(){
    	var html = "<tr style='border:2px solid rgba(121, 121, 121, 1);' id='Addtr'><td></td><td><input type='text' name='' placeholder='{$Think.lang._COMMON_PLEASE_ENTER_}{$Think.lang._COMMON_CATEGORY_NAME_}' value='' style='border:none;box-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;text-align:center;border-bottom:1px solid #ccc;'></td><td>0</td><td>1</td><td class='center'><a class='stdbtn btn_lime' href='javascript:;' id='Newcancel'>{$Think.lang._COMMON_CANCEL_}</a>&nbsp;&nbsp;<a class='stdbtn btn_lime' href='javascript:;' id='Newsave'>{$Think.lang._COMMON_SAVE_}</a></td></tr>";
    	if(addtime){
    		$("#Jtr").after(html);
    		addtime = false;
    	}
    })
    //保存
    $("#template").on('click','#Newsave',function(){
    	var category_name = $("#Addtr").find("input").val();
    	if( !category_name ){
    		alert("分类名不能为空！");
    		return;
    	}
    	addCategory(category_name);
    	addtime = true;
    	$("#Addtr").remove();
    })
    //取消
    $("#template").on('click','#Newcancel',function(){
    	addtime = true;
    	$("#Addtr").remove();
    })

    //删除分类
    function delCategory(categoryId) {
		$.ajax({
			url: '{:U('Agent/delAgentGoodsCategory')}',
			type: 'POST',
			dataType: 'json',
			data: {id : categoryId }
		})
		.done(function(returnData) {
			if ( returnData['status'] == '200000' ) {
				alert('删除分类成功');
				(function reload(){
					window.location.href = window.location.href;
				})();
			} else {
				alert(returnData['message']);
			}
		});
	}
	$("#template").on('click','#delType',function(){
		categoryId = $(this).parent().parent().attr("data-id");
		delCategory(categoryId);
	})

	//全部勾选
	$("#template").on("change","#ids",function(){
		if( !$(this).attr("checked") ){
			$("input[type='checkbox']").attr("checked",false);
			$(".selnum").text("0" + selectedLang);
			checknum = 0;
			delId = "";
			delcateId = [];
			return;	
		}
		delId = "";
		delcateId = [];
		var len = $("#template").find("input[type='checkbox']").length;
		checknum = len - 1;
		$("input[type='checkbox']").attr("checked",true);
		$(".selnum").text(checknum + selectedLang);
		$("#template").find(".JgetID").each(function(){
			delcateId.push($(this).attr("data-id"));
		})
		delId = delcateId.join(",");
	});

	// 单选
	$("#template").on("change",".ids",function(){
		categoryId = $(this).parent().parent().attr("data-id");
		if( !$(this).attr("checked") ){
			checknum-=1;
			$(".selnum").text(checknum + selectedLang);
			for(var i = 0;i<delcateId.length;i++){
				if(categoryId == delcateId[i]){
					delcateId.splice(i,1);
				}
			}
			delId = delcateId.join(",");
			return;
		}
		checknum+=1;
		$(".selnum").text(checknum + selectedLang);
		delcateId.push(categoryId);
		delId = delcateId.join(",");
	});

	//批量删除
	$("#Jdel").click(function(){
		if ( !delId ) {
			alert('{$Think.lang._PC_GOODS_DELETE_CATEGORY_}');
			return;
		}
		delCategory(delId);
	})
</script>
</block>