<extend name="Public:base" />

<block name="menu">
	<include file="User/menu" />
</block>

<block name="main">
<div class="pageheader">
    <h1 class="pagetitle">
    	{$Think.lang._PC_SETTING_CHANGE_PASSWORD_}
    </h1>
    <span class="pagedesc"></span>
</div>

<div id="contentwrapper" class="contentwrapper">
	<form class="stdform stdform2" id="JsubmitForm">
		<div class="line-dete" >
			<label>{$Think.lang._PC_SETTING_CURRENT_PASSWORD_}：</label>
	        <span class="field">
	        	<input type="password" class="smallinput" name="password">
	        </span>
		</div>
		<div class="line-dete" >
			<label>{$Think.lang._PC_SETTING_NEW_PASSWORD_}：</label>
	        <span class="field">
	        	<input type="password" class="smallinput" name="new_password">
	        </span>
		</div>
		<div class="line-dete" >
			<label>{$Think.lang._PC_SETTING_CONFIRM_PASSWORD_}：</label>
	        <span class="field">
	        	<input type="password" class="smallinput" name="new_repassword">
	        </span>
		</div>
		<div class="line-dete">
			<label></label>
	        <span class="field">
	        	<input type="button" class="stdbtn Jcommit" value="{$Think.lang._COMMON_EDIT_}" style="margin-left:10px" />
	        </span>
		</div>
	</form>
</div>
</block>

<block name="script">
<script type="text/javascript">
$(function(){
	$('.Jcommit').click(function(){
		$.ajax({
			url: "{:U('Agent/changePassword')}",
			type: 'POST',
			dataType: 'json',
			data: $('#JsubmitForm').serialize()
		})
		.done(function(data) {
			if (data.status == '200000') {
				alert('{$Think.lang._COMMON_SUCCESS_}');
				window.location.href = "{:U('Login/logout')}";
			}else{
				alert(data.message);
			}
		})
	})	  
 })

</script>
</block>

