<extend name="Public:base" />

<block name="title">{$Think.lang._PC_POINT_MY_POINTS_MERCHANDISE_}</block>

<block name="menu">
	<include file="Point:menu" />
</block>

<block name="main">
	 <div class="pageheader">
	    <h1 class="pagetitle">{$Think.lang._PC_POINT_MY_POINTS_MERCHANDISE_}</h1>
	    <span class="pagedesc"></span>
	</div>
	<div id="contentwrapper" class="contentwrapper">
		<form class="order-list">
			<p style="float:left;">
				<label>{$Think.lang._COMMON_PRODUCTS_NAME_}：</label>
				<input type="text" name="goods_name" value="{$return['goods_name']}" placeholder="{$Think.lang._COMMON_SEARCH_GOODS_NAME_}">
				&nbsp;&nbsp;
				<label>{$Think.lang._COMMON_STATUS_}：</label>
				<select name="type">
					<option value="0" <if condition="$return['type'] eq 0">selected</if>>{$Think.lang._PC_POINT_NOT_APPLIED_}</option>
					<option value="1" <if condition="$return['type'] eq 1">selected</if>>{$Think.lang._PC_POINT_APPLYING_}</option>
					<option value="2" <if condition="$return['type'] eq 2">selected</if>>{$Think.lang._PC_POINT_ALREADY_APPLIED_}</option>
				</select>
				&nbsp;&nbsp;
				<input type="submit" value="{$Think.lang._COMMON_FILTER_}">
			</p>
			<!-- <a href="javascript:;" class="btn btn_link" style="float:right;margin-right:15px;"><span style="font-size:14px;">申请积分商品</span></a> -->
			<a href="/PointOrder/pointOrder" class="btn btn_link" style="float:right;margin-right:15px;"><span style="font-size:14px;">{$Think.lang._PC_POINT_REDEEM_HISTORY_}</span></a>
		</form>
        <table cellpadding="0" cellspacing="0" border="0" class="stdtable stdtablequick" id="template"></table>
        <div class="page-box" id="pageBox"></div>
	</div>
</block>
<block name="script">
<script id="goodslist_tpl" type="text/html">
<tr>
	<th>{$Think.lang._COMMON_NO_}</th>
	<th>{$Think.lang._COMMON_PRODUCTS_NAME_}</th>
	<th>{$Think.lang._PC_POINT_REDEEM_QUANTITY_}</th>
	<th>{$Think.lang._COMMON_GOODS_NUMBER_}</th>
	<th>{$Think.lang._COMMON_REDEEM_WEDO_POINTS_}</th>
	<th>{$Think.lang._COMMON_STATUS_}</th>
	<th width="10%">{$Think.lang._COMMON_OPERATE_}</th>
</tr>
<%for(var i = 0; i < list.length; i ++){%>
	<%
		var data = list[i],
			id = ( type == '0' ) ? data['goods_id'] : data['id'];
	%>
	<tr>
		<td><%=id%></td>
		<td><%=data['goods_name']%></td>
		<td><%=data['sale_number']%></td>
		<td><%=data['goods_number']%></td>
		<td><%=data['goods_price']%></td>
		<td>
			<%switch( type ) {
				case '0' :%>
					<%=notApplied%>
				<%break;
				case '1' :%>
					<%=applying%>
				<%break;
				case '2' :%>
					<%=alreadyApplied%>
				<%break;%>
			<%}%>
		</td>
		<td class="center">
			<%switch( type ) {
				case '0' :%>
					<a class="stdbtn btn_lime" href="javascript:;" data-id="<%=id%>">{$Think.lang._PC_POINT_APPLY_}</a>
				<%break;
				case '1' :%>
					无
				<%break;
				case '2' :%>
					无
				<%break;%>
			<%}%>
		</td>
	</tr>
<%}%>
</script>
<script type="text/javascript">
	/*使用模板引擎*/
    var bt = baidu.template,
    	goods_name = "{$return['goods_name']}";
    var type = "{$return['type']}";
    function loadData(page) {
    	popupWin.show('{$Think.lang._COMMON_LOADING_}');
    	$.ajax({
			url: '{:U('Agent/myPointGoods')}',
			type: 'POST',
			dataType: 'json',
			data: {
				goods_name : goods_name,
				page : page,
				type : type,
				page_type : '1'
			}
		})
		.done(function(returnData) {
			if ( returnData['data']['list'].length ) {
				returnData['data']['notApplied'] = "{$Think.lang._PC_POINT_NOT_APPLIED_}";
				returnData['data']['applying'] = "{$Think.lang._PC_POINT_APPLYING_}";
				returnData['data']['alreadyApplied'] = "{$Think.lang._PC_POINT_ALREADY_APPLIED_}";
				returnData['data']['type'] = type;
				var html = bt('goodslist_tpl', returnData['data']);
				$('#template').html(html);
				createPageTags(returnData['data']['page'], returnData['data']['count'], 0);
				listenPageEvent(loadData);
			} else {
				alert('{$Think.lang._COMMON_NO_DATA_}');
			}
			popupWin.hide();
		});
    }
    loadData(1);

    // 申请积分商品
    $('#template').on('click', '.btn_lime', function(){
    	var goods_id = $(this).data('id');
    	$.ajax({
			url: '{:U('Agent/goodsToPoint')}',
			type: 'POST',
			dataType: 'json',
			data: {goods_id:goods_id}
		})
		.done(function(returnData) {
			if ( returnData['status'] == '200000' ) {
				alert('申请成功，请等待审核');
				window.location.href = window.location.href;
			} else {
				alert(returnData['message']);
			}
		});
    });
</script>
</block>