<extend name="Public:base" />
<block name="style">
	<style type="text/css">
		body,.bcont{position:absolute;top:0;left:0;right:0;bottom:0;overflow:auto;}
		.deleteBtn{display: inline-block; text-align: center; background: #fff; color: #967bdc; line-height: 20px; border: 1px solid #967bdc; border-radius: 3px; padding: 0 2%; font-size: 12px;} 
	</style>
</block>
<block name="main">
	<div class="basic_wrap" id="content">
		<div class="conent bcont">
			<header class="head">
				<span class="back"></span>
				<h1 class="y-confirm-order-h1">{$Think.lang._WAP_GOODS_ADDGOODS_}</h1>
			</header>
			<div class="main">
				<div class="add_g_top">
					<div class="add_title">
						<input type="text" placeholder="{$Think.lang._WAP_GOODS_ENTERATITLE_}" v-model="dataJson['goods_name']">
					</div>
					<div class="add_title">
						<input type="text" placeholder="{$Think.lang._WAP_GOODS_PRODUCTSUBTITLE_}" v-model="dataJson['introduction']">
					</div>
					<div class="add_g_de">
						<div class="g_imgm">
							<p>{$Think.lang._WAP_GOODS_PRODUCTPHOTO_}</p>
							<ul>
								<li v-for="(item, index) in goodsImageData">
									<div class="imgbox">
										<img :src="item">
										<em></em>
									</div>
								</li>
								<li>
									<div class="upload_input">
										<input type="file" name="upload_input" id="upload_input"/>
									</div>
								</li>
							</ul>
						</div>
						<div class="g_imgm">
							<p>{$Think.lang._WAP_GOODS_DESCRIPTION_}</p>
							<textarea placeholder="{$Think.lang._WAP_GOODS_IMPORTDESCRIPTION_}" v-model="dataJson['description']"></textarea>
						</div>
					</div>
				</div>
				<div class="add_g_classfiy">
					<div class="a_g_c" @click="showGoodsCategory">
						<a href="javscript:;">{$Think.lang._WAP_GOODS_PLATFORMCATEGORY_}</a>
						<input type="text" readonly="readonly" placeholder="{$Think.lang._WAP_GOODS_PLEASESELECT_}" v-model="categoryName">
						<em></em>
					</div>
					<div class="a_g_c" @click="showAgentGoodsCategory">
						<a href="javscript:;">{$Think.lang._WAP_GOODS_MERCHANTCATEGORY_}</a>
						<input type="text" readonly="readonly" placeholder="{$Think.lang._WAP_GOODS_PLEASESELECT_}" v-model="agentCategoryName">
						<em></em>
					</div>
				</div>
				<div class="add_g_emc" v-if="attrData.length > 0">
					<p>{$Think.lang._WAP_GOODS_GOODSATTR_}</p>
					<div class="select_emc" v-for="(item, index) in attrData">
						<b class="attr_name">{{item['attr_name']}}</b>
						<div class="sel_add_gattr">
							<div class="s_e_box" v-for="(value, key) in item['attrValue']">
								<input type="hidden" name="attr" :value="value['attr_name_id']">
								<input type="hidden" name="attrname" :value="item['attr_name']">
								<input type="hidden" name="value" :value="value['id']">
								<span>{{value['attr_value']}}</span>
								<div class="check_box">
									<input type="checkbox" :id="value['id']" :value="value['attr_value']" @change="selGoodsAttr">
									<label :for="value['id']"></label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="add_g_mid" id="JeditSKU" style="display:none;"></div>
				<div class="add_g_emc">
					<p>{$Think.lang._WAP_GOODS_DELIVERYMETHOD_}</p>
					<div class="select_emc">
						<div class="s_e_box">
							<span>{$Think.lang._WAP_GOODS_BYDELIVERY_}</span>
							<div class="check_box">
								<input type="checkbox" id="cb1" value="0" v-model="expressType">
								<label for="cb1"></label>
							</div>
						</div>
						<div class="s_e_box">
							<span>{$Think.lang._WAP_GOODS_COLLECTFROMMERCHANT_}</span>
							<div class="check_box">
								<input type="checkbox" id="cb2" value="1" v-model="expressType">
								<label for="cb2"></label>
							</div>
						</div>
					</div>
				</div>
				<div class="add_g_keyword">
					<p>{$Think.lang._WAP_GOODS_SETKEYWORDS_}</p>
					<input type="text" placeholder="{$Think.lang._WAP_GOODS_KEYWORDSTIPS_}" v-model="dataJson['keyword']">
				</div>
				<a href="javascript:;" class="add_g_btn" @click="addGoods">{$Think.lang._WAP_GOODS_ADD_}</a>
			</div>
		</div>
		<div class="content basic" id="goodsCategory">
			<header class="head" style="position:absolute;">
				<span class="backed" @click="closeGoodsCategory('back')"></span>
				<h1 class="y-confirm-order-h1">{$Think.lang._WAP_SUPPLEMENT_CHOOSECATEGORY_}</h1>
				<a href="javascript:;" class="mail" @click="closeGoodsCategory('finish')">{$Think.lang._WAP_SUPPLEMENT_COMPLETE_}</a>
			</header>
			<div class="selClassfiy">  
				<p>{$Think.lang._WAP_GOODS_SELECTACLASSFIY_}。</p>
				<ul>
					<li v-for="(item,index) in goodsCategoryData">
						<div class="sclont">
							<span>{{item.category_name}}</span>
							<div class="check_box">
								<input :id="'goodsCategory_'+item.id" type="checkbox" :value="item['id']" v-model="categoryId" @change="selectGoodsCategory(item.category_name)">
								<label :for="'goodsCategory_'+item.id"></label>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="content basic" id="agentGoodsCategory">
			<header class="head" style="position:absolute;">
				<span class="backed" @click="closeAgentGoodsCategory('back')"></span>
				<h1 class="y-confirm-order-h1">{$Think.lang._WAP_SUPPLEMENT_CHOOSECATEGORY_}</h1>
				<a href="javascript:;" class="mail" @click="closeAgentGoodsCategory('finish')">{$Think.lang._WAP_SUPPLEMENT_COMPLETE_}</a>
			</header>
			<div class="selClassfiy">  
				<p>{$Think.lang._WAP_GOODS_STOREACLASSFIY_}</p>
				<ul>
					<li v-for="(item,index) in agentGoodsCategoryData">
						<div class="sclont">
							<span>{{item.category_name}}</span>
							<div class="check_box">
								<input :id="'agentGoodsCategory_'+item['id']" type="checkbox" :value="item['id']" v-model="agentCategoryId" @change="selectAgentGoodsCategory(item.category_name)">
								<label :for="'agentGoodsCategory_'+item['id']"></label>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</block>
<block name="curScript">
<script type="text/javascript" src="__PUBLIC__/Common/js/ajaxfileupload.js"></script>
<script type="text/javascript">
	var vm = new Vue({
		el : "#content",
		data : {
			agentId : "{$Think.session.agentId}",
			dataJson : {},
			expressType : [],
			goodsCategoryData : [],
			agentGoodsCategoryData : [],
			categoryId : [],
			agentCategoryId : [],
			categoryName : '',
			agentCategoryName : '',
			goodsImageData : [],
			goodsAttr : [],
			attrData : [],
		},
		created(){
			this.loadGoodsCategory();
			this.loadAgentGoodsCategory();
		},
		mounted(){
		   $('#Jloading').fadeOut();
		},
		methods : {
			addGoods : function() {
				var that = this;
				if ( that.expressType.length == 0 ) {
					automsgbox('{$Think.lang._WAP_GOODS_SELECTDISTRIBUTION_}');
					return;
				} else {
					that.dataJson['express_type'] = that.expressType.join(",");
				}
				if ( that.categoryId.length == 0 ) {
					automsgbox('{$Think.lang._WAP_GOODS_SELECTACLASSFIY_}');
					return;
				} else {
					that.dataJson['category_id'] = that.categoryId[0];
				}
				if ( that.agentCategoryId.length == 0 ) {
					automsgbox('{$Think.lang._WAP_GOODS_STOREACLASSFIY_}');
					return;
				} else {
					that.dataJson['agent_category_id'] = that.agentCategoryId[0];
				}
				that.dataJson['SKUattr[]'] = [];
				that.dataJson['SKUprice[]'] = [];
				that.dataJson['SKUnumber[]'] = [];
				$('input[name="SKUattr[]"]').each(function(){
					that.dataJson['SKUattr[]'].push($(this).val());
				});
				$('input[name="SKUprice[]"]').each(function(index){
					var thatValue = $(this).val();
					if ( !thatValue ) {
						automsgbox('{$Think.lang._WAP_GOODS_GOODSPRICE_}');
					} else {
						that.dataJson['SKUprice[]'].push($(this).val());
					}
					return;
				});
				$('input[name="SKUnumber[]"]').each(function(index){
					var thatValue = $(this).val();
					if ( !thatValue ) {
						automsgbox('{$Think.lang._WAP_GOODS_GOODSINVENTORY_}');
					} else {
						that.dataJson['SKUnumber[]'].push($(this).val());
					}
					return;
				});
				that.dataJson['images[]'] = that.goodsImageData;
				$.ajax({
					url: '{:U('Goods/addGoods')}',
					type: 'POST',
					dataType: 'json',
					data: that.dataJson
				})
				.done(function(returnData) {
					if( returnData['status'] == '200000' ){
						automsgbox('{$Think.lang._WAP_GOODS_ADDSUCCESS_}', function(){
							window.location.href = "{:U('Agent/agentGoods')}";
						});
					} else {
						automsgbox(returnData['message']);
					}
				});
			},
			loadGoodsCategory() {
				var that = this;
				$.ajax({
					url: '{:U('Category/goodsCategory')}',
					type: 'POST',
					dataType: 'json',
					data: {}
				})
				.done(function(returnData) {
					if ( returnData['status'] == '200000' ) {
						that.goodsCategoryData = returnData['data']['list'];
					}
				});
			},
			loadAgentGoodsCategory() {
				var that = this;
				$.ajax({
					url: '{:U('Category/agentGoodsCategory')}',
					type: 'POST',
					dataType: 'json',
					data: {id:that.agentId}
				})
				.done(function(returnData) {
					if ( returnData['status'] == '200000' ) {
						that.agentGoodsCategoryData = returnData['data']['list'];
					}
				});
			},
			loadCategoryAttr(category_id) {
				var that = this;
				$.ajax({
					url: '{:U('Goods/categoryAttr')}',
					type: 'POST',
					dataType: 'json',
					data: {category_id:category_id}
				})
				.done(function(returnData) {
					if ( returnData['status'] == '200000' ) {
						that.attrData = returnData['data']['list'];
					}
				});
			},
			showGoodsCategory() {
				$("#goodsCategory").addClass("on");
			},
			showAgentGoodsCategory() {
				$("#agentGoodsCategory").addClass("on");
			},
			selectGoodsCategory(category_name) {
				this.categoryName = category_name;
				if(this.categoryId.length > 1){
					this.categoryId.splice(0,1);
				}
			},
			selectAgentGoodsCategory(category_name) {
				this.agentCategoryName = category_name;
				if(this.agentCategoryId.length > 1){
					this.agentCategoryId.splice(0,1);
				}
			},
			closeGoodsCategory(type) {
				var that = this;
				$("#goodsCategory").removeClass("on");
			},
			closeAgentGoodsCategory(type) {
				var that = this;
				$("#agentGoodsCategory").removeClass("on");
				if ( this.agentCategoryId[0] ) {
					this.loadCategoryAttr(this.agentCategoryId[0]);
				}
			},
			selGoodsAttr : function(){
				if ($(event.target)[0].checked) {
					$(event.target).parent().parent('.s_e_box').addClass('on');
				} else {
					$(event.target).parent().parent('.s_e_box').removeClass('on');
				}
				this.createCombination();
			},
			combine(arr) {
				if(arr.length > 1) {
			        var len1 = arr[0].length, len2 = arr[1].length, newArr = arr.slice(0), temp = [];
			        for(var i = 0; i < len1; i ++) {
			            for(var j = 0; j < len2; j ++) {
			                temp.push(arr[0][i] + '**' + arr[1][j])
			            }
			        }
			        newArr.splice(0, 2, temp);
			        return arguments.callee(newArr)
			    }
			    return arr[0];
			},
			createCombination : function(){
				var attrData = {};
				$('.s_e_box.on').each(function(index) {
					var attr = $(this).find('input[name="attr"]').val();
					var value = $(this).find('input[name="value"]').val();
					var value_name = $(this).find('span').text();
					var attr_name = $(this).find('input[name="attrname"]').val();
					
					if (!attrData[attr]) {
						attrData[attr] = {};
					}
					attrData[attr]['attr_name'] = attr_name;
					attrData[attr]['attr_list'] = attrData[attr]['attr_list'] ? attrData[attr]['attr_list'] : {};
					attrData[attr]['attr_list'][value] = value_name;
				});
				var attrStr = [];
				var attrList = [];
				var allAttr = [];
				for(var i in attrData) {
					if (attrData.hasOwnProperty(i)) {
						attrList.push(i);
					}

					var len = allAttr.length
					allAttr[len] = [];
					for (var j in attrData[i].attr_list) {
						if (attrData[i].attr_list.hasOwnProperty(j)) {
							allAttr[len].push(attrData[i]['attr_list'][j] + '-' + i + '-' + j);
						}
					}
				}
				var combineResult = this.combine(allAttr);
				for (var j = 0; j < combineResult.length; j ++) {
					attrStr.push('<div class="add_edit_g"><ul>');
					var tmp_list = combineResult[j].split('**');
					var multi_attr = ',';
					for (var k = 0; k < tmp_list.length; k ++) {
						var tmp_attr = tmp_list[k].split('-');
						multi_attr += tmp_attr[2] + ',';
						attrStr.push('<li> <div class="amid_input"> <span>' + attrData[tmp_attr[1]]['attr_name'] + '</span> <input type="text" value="' + tmp_attr[0] + '" readonly> </div> </li>');
					}
					attrStr.push('<li> <div class="amid_input"> <span>{$Think.lang._WAP_GOODS_PRICE_}</span> <input type="text" placeholder="{$Think.lang._WAP_GOODS_GOODSPRICE_}" name="SKUprice[]"> </div> </li>');
					attrStr.push('<li> <div class="amid_input"> <span>{$Think.lang._WAP_AGENT_INSTOCK_}</span> <input type="text" placeholder="{$Think.lang._WAP_GOODS_GOODSINVENTORY_}" name="SKUnumber[]"> </div> </li>');
					attrStr.push('<li> <div class="amid_input"> <span>{$Think.lang._COMMON_OPERATE_}</span> <em class="deleteBtn">{$Think.lang._COMMON_DELETE_}</em> </div> </li>');
					attrStr.push('</ul>');
					attrStr.push('<input type="hidden" name="SKUattr[]" value="' + multi_attr + '" />');
					attrStr.push('</div>');
				}
				var JeditSKU = document.getElementById('JeditSKU');
				JeditSKU.innerHTML = attrStr.join('');
				JeditSKU.style.display = 'block';
			}
		}
	})

	// 删除属性
	$('#JeditSKU').on('click', '.deleteBtn', function(){
		$(this).parents('.add_edit_g').remove();
	});

	// 上传图片
	$(document).on('change', '#upload_input', function() {
	    $.ajaxFileUpload({
	        url: "{:U('Goods/photoUpload')}",
	        secureuri: false,
	        fileElementId: 'upload_input',
	        dataType: 'json',
	        success: function (data, status) {
	            if(data.error != '') {
	                automsgbox(data.error);
	            } else {
	                vm.goodsImageData.push(data.url);
	            }
	        },error: function (data, status, e) {
	            automsgbox(e);
	        }
	    });
	});
</script>
</block>