<extend name="Common:base" />
<block name="title">优惠商品竞价管理</block>
<block name="cusStyle">
	<link rel="stylesheet" href="__PUBLIC__/Admin/css/jquery.datetimepicker.css" type="text/css" />
</block>
<block name="menu">
	<include file="Goods:menu" />
</block>
<block name="main">
	<div class="pageheader">
	    <h1 class="pagetitle">
	    	优惠商品竞价管理
	    	<a href="{:U('Bidding/biddingFavorableGoods')}" class="btn btn_link" ><span style="font-size:14px">未审核</span></a>
			<a href="{:U('Bidding/auditBiddingFavorableGoods')}" class="btn btn_link" ><span style="font-size:14px">已审核</span></a>
	    </h1>
	    <span class="pagedesc"></span>
	</div>
	<div id="contentwrapper" class="contentwrapper">
		<form action="{:U('Bidding/biddingFavorableGoods')}" method="get" id="searchForm">
            <p>
            	<label>店铺名称：</label>
				<input type="text" name="agent_name" placeholder="输入搜索店铺名称" value="{$return['agent_name']}">
            	<label>商品名称：</label>
                <input type="text" name="goods_name" placeholder="输入搜索商品名称" value="{$return['goods_name']}"/>

            	<label>平台分类：</label>
				<select name="category_id">
					<option value="">全部</option>
					<volist name="categoryList" id="data">
						<option value="{$data['id']}" <if condition="$return['category_id'] eq $data['id']">selected</if>>{$data['category_name']}</option>
					</volist>
				</select>&nbsp;&nbsp;
                
           		<label>竞价期限：</label>
				<input type="text" id="staDatartTime" date-time="{$return['startTime']}" style="margin-right: 0px">
				<input type="hidden" name="start_time" id="startTime" value="{$return['startTime']}" >
				-
				<input type="text" id="endDataTime" date-time="{$return['endTime']}">
				<input type="hidden" name="end_time" id="endTime" value="{$return['endTime']}">
            </p>
            <p>
             	<input type="submit" value="筛选"/>
             	<input type="button" id="JcheckPass" value="通过" />
             	<input type="button" id="JcheckRefuse" value="拒绝" />
            </p>
        </form>
		<table cellpadding="0" cellspacing="0" border="0" class="stdtable stdtablequick">
			<tr>
				<th width="3%">全选<input type="checkbox" id="ids"></th>
				<th>商品名称</th>
				<th>商品介绍</th>
				<th>平台分类</th>
				<th>店铺名称</th>
				<th>现价</th>
				<th>优惠后价格</th>
				<th>竞价日期</th>
				<th>竞价金额</th>
				<th>操作</th>
			</tr>
			<if condition="empty($list)">
				<tr>
					<td colspan="10">暂无相关数据</td>
				</tr>
			<else />
				<volist name="list" id="data">
					<tr>
						<td><input type="checkbox" class="ids" value="{$data['id']}"/></td>
						<td>{$data['goods_name']}</td>
						<td>{$data['introduction']}</td>
						<td>{$data['category_name']}</td>
						<td>{$data['agent_name']}</td>
						<td>{$data['goods_price']}</td>
						<td>{$data['favorable_price']}</td>
						<td>{$data['start_time']|date="Y-m-d", ###}</td>
						<td>{$data['total']}</td>
						<td class="center">
							<if condition="checkActionAuth('Bidding-checkBidding')">
								<a class="stdbtn btn_lime" href="{:U('Bidding/checkBidding', array('ids'=>$data['id'], 'bidding_type'=> '1', 'status'=> '1'))}">通过
							    </a>&nbsp;&nbsp;
								<a class="stdbtn btn_lime" href="{:U('Bidding/checkBidding', array('ids'=>$data['id'], 'bidding_type'=> '1', 'status'=> '2'))}">拒绝
								</a>&nbsp;&nbsp;
							<else />
								无权限操作
							</if>
						</td>
					</tr>
				</volist>
				<tr>
					<td colspan="10">
						<if condition="$counting lt 25">
						<else />
						   <div class="page-box">{$show}</div>
					    </if>
					</td>
				</tr>
			</if>
		</table>
	</div>
</block>
<block name="script">
<script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.datetimepicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/moment.min.js"></script>
<script type="text/javascript">
	var ids = "",
		idsData = [];
	$(function(){
		// 全选
		$("#contentwrapper").on("change", "#ids", function(){
			if( !$(this).attr("checked") ){
				$(".ids").attr("checked", false);
				ids = "";
				idsData = [];
			} else {
				$(".ids").attr("checked", true);
				$(".ids").each(function(){
					idsData.push($(this).val());
				})
				ids = idsData.join(",");
			}
		});

		// 单选
		$("#contentwrapper").on("change", ".ids", function(){
			if( !$(this).attr("checked") ){
				$(this).attr("checked", false);
				for(var i = 0; i<idsData.length; i++) {
					if ($(this).val() == idsData[i]) {
						idsData.splice(i,1);
					}
				}
			} else {
				$(this).attr("checked", true);
				idsData.push($(this).val());
			}
			ids = idsData.join(",");
		});

		// 通过
		$('#JcheckPass').click(function(){
			if ( !ids ) {
				alert('请选择要审核的数据');
				return;
			}
			window.location.href = "{:U('Bidding/checkBidding')}?bidding_type=1&status=1" + '&ids=' + ids;
		});

		// 拒绝
		$('#JcheckRefuse').click(function(){
			if ( !ids ) {
				alert('请选择要审核的数据');
				return;
			}
			window.location.href = "{:U('Bidding/checkBidding')}?bidding_type=1&status=2" + '&ids=' + ids;
		});

		$('#staDatartTime').val(moment.unix($('#staDatartTime').attr('date-time')).format("YYYY-MM-DD HH:mm:ss"));
		$('#endDataTime').val(moment.unix($('#endDataTime').attr('date-time')).format("YYYY-MM-DD HH:mm:ss"));
		$('#staDatartTime').datetimepicker({
			format:"Y-m-d H:i:s", 
			onChangeDateTime:function(dp, $input) {
				$('#startTime').val(moment($input.val()).unix().valueOf(-60));
			}
		});
		$('#endDataTime').datetimepicker({
			format:"Y-m-d H:i:s", 
			onChangeDateTime:function(dp, $input) {
				$('#endTime').val(moment($input.val()).unix().valueOf(-60));
			}
		});
	})
</script>
</block>