<extend name="Common:base" />

<block name="title">商品管理列表</block>

<block name="menu">
	<include file="Goods:menu" />
</block>

<block name="main">
	<div class="pageheader">
	    <h1 class="pagetitle">
	    	商品分类管理
	    	<if condition="checkActionAuth('Category-addGoodsCategory')">
	    		<a href="{:U('Category/addGoodsCategory')}" class="btn btn_link" style="float: right"><span style="font-size:14px">添加</span></a>
	    	</if>
	    </h1>
	    <span class="pagedesc"></span>
	</div>
	<div id="contentwrapper" class="contentwrapper">
		<form action="{:U('Category/goodsCategory')}" method="get" id="searchForm">
            <div>
				分类名称：<input type="text" name="category_name" placeholder="请输入分类名称" value="{$category_name}" />
				&nbsp;&nbsp;
             	<input type="submit" value="筛选"/>
             	<input type="button" id="JdeleteAll" value="删除" />
            </div>
            <br>
            <table cellpadding="0" cellspacing="0" border="0" class="stdtable stdtablequick">
                <tr>
                    <th>全选<input type="checkbox" id="ids" /></th>
					<th>分类名称</th>
					<th>商品数量</th>
					<th>排序</th>
					<th>icon</th>
					<th>操作</th>
				</tr>

				<if condition="empty($categoryList)">
					<tr>
						<td colspan="6">暂无相关数据~！</td>
					</tr>
				<else />
					<volist name="categoryList" id="cate">
						<tr>
                            <td><input type="checkbox" name="checkbox" class="ids" value="{$cate['id']}"/></td>
							<td>{$cate['category_name']}</td>
							<td>{$cate['count']}</td>
							<td>{$cate['sort']}</td>
							<td>{$cate['app_icon']}</td>
							<td class="center">
								<if condition="checkActionAuth('Category-editGoodsCategory') ||checkActionAuth('Category-delGoodsCategory')">
									<a class="stdbtn btn_lime" href="{:U('Category/editGoodsCategory', array('id'=> $cate['id']))}">编辑</a>&nbsp;&nbsp;
								</if>
								<if condition="checkActionAuth('Category-delGoodsCategory')">
									<a class="stdbtn btn_lime" href="{:U('Category/delGoodsCategory', array('id'=> $cate['id']))}">删除</a>&nbsp;&nbsp;
								</if>
							</td>
						</tr>
					</volist>
					<tr>
						<td colspan="6">
							<div class="page-box">{$show}</div>
						</td>
					</tr>
				</if>
			</table>
		</form>
	</div>
</block>

<block name="script">
<script type="text/javascript">
	$(function(){
    	//全选
        $('#ids').click(function(){
            if($(this).is(":checked"))
            {
                $('.ids').prop('checked',true);
            }else{
                $('.ids').prop('checked',false);
            }
        }); 

		//批量删除
		$("#JdeleteAll").click(function () {
			var objs = $('.ids');
			var ids = '';
			for(var j=0;j<objs.length;j++)
			{   
				if ($(objs[j]).is(':checked'))
				{
			    	ids += $(objs[j]).val()+',';
				}
			}
			var jumpUrl = "{:U('Category/delGoodsCategory')}" + '?id=' + ids;
			window.location.href = jumpUrl;
		});
	});
</script>
</block>