<extend name="Public:base" />

<block name="menu">
	<include file="Agent:menu" />
</block>

<block name="main">
<div class="pageheader">
    <h1 class="pagetitle">
    	{$Think.lang._PC_USER_WITHDRAW_}
    </h1>
    <span class="pagedesc"></span>
</div>

<div style="text-align: center;padding-top: 150px;">
	<h2>{$Think.lang._PC_USER_WITHDRAW_SUCCESSFUL_}~</h2>
	<pre>
	</pre>
	<span class="stdbtn" onclick="history.go(-1)">{$Think.lang._COMMON_RETURN_}</span>
</div>
</block>

<block name="script">
<script type="text/javascript">
</script>
</block>

