<extend name="Common:base" />

<block name="title">商品详情</block>

<block name="menu">
	<include file="Goods:menu" />
</block>

<block name="cusStyle">
	<style type="text/css">
		.goods-detail-m {width: 100%;}
		.g-goods-data {background: #fff;min-height: 460px;margin: 0 auto;overflow: hidden;padding-bottom: 30px;}
		.g-goods-data .g-lf {float: left;width: 400px;position:relative;}
		.g-lf .g-pic {width: 100%;height: 100%;position: relative;margin: 0 auto;}
		.g-lf .g-pic img {width: 100%;height: 100%;cursor: crosshair;}
		.g-slide-tab {position: relative;margin: 20px auto;width: 310px;}
		.g-slide-tab .prev {width: 20px;height: 60px;display: block;position: absolute;top: 0;left: -30px;z-index: 22;background: url(__PUBLIC__/Shop/images/back.png) no-repeat center center;background-size:75%;}
		.g-slide-tab .ctr em {position: absolute;width: 20px;height: 34px;top: 50%;margin-top: -17px;left: 0px;display: block;}
		.g-slide-tab .next {width: 20px;height: 60px;display: block;position: absolute;top: 0;right: -30px;z-index: 22;background: url(__PUBLIC__/Shop/images/back.png) no-repeat center center;transform:rotateZ(180deg);background-size:75%;}
		.tempWrap {overflow: hidden;position: relative;width: 310px;}
		.g-lf .g-pic-tab {overflow: hidden;margin: 0px;padding: 0px;position: relative;left: 0px;width: 350px;transition: all 0.5s;-webkit-transition: all 0.5s;}
		.g-lf .g-pic-tab li {width: 60px;height: 60px;padding: 1px;display: block;float: left;text-align: center;line-height: 58px;}
		.g-lf .g-pic-tab li.on {border: 1px solid #967bdc;padding: 0;width: 60px;height: 60px;}
		.g-lf .g-pic-tab li img {width: 55px;height: 55px;display: inline-block;vertical-align: middle;}
		.g-goods-data .g-mi {width: 505px;float: left;margin-left: 10px;}
		.g-goods-data .g-mi .tit {margin-top: 20px;overflow: hidden;color: #333;font-size: 18px;position: relative;}
		.g-goods-data .g-mi .tit h1{font-size:25px;line-height:30px;}
		.g-goods-data .g-mi .tit span{line-height:30px;text-align:center;color:#fff;background:rgba(255,0,0,.7);padding:5px 10px;font-size:16px;margin-left:15px;display: inline-block;}
		.g-goods-data .g-mi .tit .xia{background:rgba(153, 153, 153, 1);display:block;}
		.g-goods-data .g-mi .txt {font-size: 16px;color: #999;padding:17px 0;margin:0;border-bottom:1px solid #e4e4e4;}
		.btn-panel {position: relative;margin-top: 20px;}
		.g-fix-num-b {float: left;height: 40px;width: 160px;background: rgba(0,0,0,.3);text-align: center;line-height: 40px;border-radius: 4px;font-size: 16px;color: #fff;display: block;margin-right:15px;}
		.g-fix-num-b:hover{background:#967bdc;}
		.btn-panel:after {clear: both;content: "";width: 80%;display: block;}
		.g-goods-data .g-mi .mip{overflow:hidden;line-height:45px;margin:0;}
		.g-goods-data .g-mi .mip span{margin-right:15px;font-size:16px;color:#999;}
		.g-goods-data .g-mi .mip span i{font-size:18px;font-weight:bold;color:rgba(255, 0, 0, 1);}
		.g-dt-com {margin-top: 10px;}
		.g-dt-com:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
		.g-dt-com .rt .g-tab {height: 46px;line-height: 46px;border-bottom: 1px solid #ddd;background: #fff;}
		.g-dt-com .rt .g-tab a {padding: 0 20px;border-top: 1px solid #ddd;border-left: 1px solid #ddd;border-right: 1px solid #ddd;text-align: center;height: 44px;display: block;float: left;font-size: 16px;color: #333;background: #fff;line-height: 44px;margin-right: -1px;}
		.g-dt-com .rt .g-tab a.on {height: 45px;color: #967bdc;border-top: 2px solid #967bdc;margin-top: -1px;border-bottom: 1px solid #fff;}
		.g-dt-com .rt .g-wrap-m {min-height: 450px;background: #fff;}
		.slide_num {width: 35px;height: 35px;line-height: 35px;background: rgba(0,0,0,.5);border-radius: 50%;text-align: center;color: #fff;position: absolute;bottom: 110px;right: 10px;z-index: 6;}
		div.zoomDiv{z-index:999;position:absolute;top:0px;left:0px;width:400px;height:400px;background:#ffffff;border:1px solid #ddd;display:none;text-align:center;overflow:hidden;}
        div.zoomMask{position:absolute;background:url("__PUBLIC__/Shop/images/mask.png") repeat scroll 0 0 transparent;cursor:move;z-index:1; width: 100px; height: 100px;}
        .attrList{overflow:hidden;}
        .attrList span{float: left;color:#999;font-size:16px;line-height:33px;}
        .attrList ul{padding-left:10px;overflow:hidden;}
        .attrList ul li{float: left;line-height:30px;text-align:center;padding:0 15px;border:1px solid #e4e4e4;margin-right:10px;margin-bottom:10px;cursor:pointer;}
        .attrList ul li.on{border-color:#967bdc;background:#967bdc;color:#fff;}
        .g-warp-item.pj{border-left:1px solid #e4e4e4;border-right:1px solid #e4e4e4;}
        .alleva_assess{overflow:hidden;padding:15px;border-bottom:1px solid #e4e4e4;}
        .alleva_assess p{float:left;font-size:16px;margin:0;line-height:42px;}
        .alleva_assess p i{font-size:30px;color:rgba(255, 0, 0, 1);font-weight:bold;}
        .alleva_assess .eva_star_m{float:left;margin-left:20px;}
        .alleva_assess .eva_star_m .star{margin: 11px 0;display: inline-block;width: 20px;height: 20px;background: url(__PUBLIC__/Shop/images/white_star.png) center center no-repeat;background-size: 20px;}
        .alleva_assess .eva_star_m .star.on{background:url(__PUBLIC__/Shop/images/violet_star.png) center center no-repeat;background-size:20px;}
        .goods_assess .eva_list_box {margin-bottom: 15px;background: #fff;padding: 15px;}
        .goods_assess .eva_top {overflow: hidden;}
        .goods_assess .eva_top .eva_user {float: left;position: relative;}
        .eva_top .eva_user img {width: 60px;height: 60px;margin:0 15px;border-radius: 50px;display: inline-block;}
        .eva_top .eva_user span {display: inline-block;font-size: 16px;color: #666;position: absolute;top: 50%;transform: translateY(-50%);-webkit-transform: translateY(-50%);overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
		.user_eva p {color: #666;margin: 0 15px;font-size: 16px;line-height:30px;}
		.user_eva .eva_goodsimg {overflow: hidden;}
		.user_eva .eva_goodsimg .imgbox {width: 100px;position: relative;float: left;margin: 10px 10px 0 0;}
		.user_eva .eva_goodsimg .imgbox:before {content: '';display: block;padding: 50% 0;}
		.user_eva .eva_goodsimg .imgbox img {width: 100%;height: 100%;position: absolute;top: 0;left: 0;}
		.eva_goods_cont {margin-top: 15px;overflow: hidden;}
		.eva_goods_cont span {color: #999;margin-right: 10px;font-size: 14px;}
		.eva_goods_cont em {display: block;float: right;text-align: center;background: #fff;color: #967bdc;line-height: 25px;border: 1px solid #967bdc;border-radius: 3px;padding: 0 10px;font-size: 14px;cursor:pointer;}
		.eva_goods_cont em.emt{border:none;color:#666;}
		.business_reply {margin-top: 15px;}
		.business_reply p {background: #f1f1f1;color: #666;padding: 10px;margin:0;}
		.business_reply p span {color: #333;}
		.mask{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.5);z-index:23;display:none;}
		.to_care_sale{z-index:23;position:fixed;top:50%;left:50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);width:320px;background:#fff;border-radius:10px;padding:15px 0;display:none;}
		.to_care_sale p{margin:0;line-height:30px;text-align:center;font-size:18px;}
		.to_care_sale .btn{margin-top:15px;text-align:center;}
		.to_care_sale .btn span{display:inline-block;width:49%;line-height:40px;text-align:center;font-size:16px;cursor:pointer;}
		.to_care_sale .btn span:hover{background:#967bdc;color:#fff;}
		.msevaimg {width: 450px;position: fixed;top: 50%;left: 50%;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);z-index: 999;display:none;}
		.msevaimg:before {content: '';display: block;padding: 50% 0;}
		.msevaimg img {width: 100%;height: 100%;position: absolute;top: 0;left: 0;}
	</style>
</block>

<block name="main">
	 <div class="pageheader">
	    <h1 class="pagetitle">商品详情</h1>
	    <span class="pagedesc"></span>
	</div>
	<div id="contentwrapper" class="contentwrapper">
        <div class="goods-detail-m">
			<div class="g-goods-data">
				<div class="g-lf" id="Goods_img_cont">
					<div class="g-pic">
					<div class="imgbox">
						<img src="{$vo['goods_image']}" rel="{$vo['goods_image']}" class="jqzoom">
					</div>
					</div>
						<div class="slide_num"><i id="num">1</i>/{:count($goodsImages)}</div>
					<div class="g-slide-tab">
						<a href="javascript:;" class="ctr prev"> 
						    <em></em>
			            </a>
			            <a href="javascript:;" class="ctr next">
			            	<em></em>
			            </a>
			            <div class="tempWrap">
			            	<ul class="g-pic-tab">
			            		<volist name="goodsImages" id="data">
				            		<li <if condition="$key eq 0">class="on"</if>>
				            			<img src="{$data['goods_image']}" mid="{$data['goods_image']}" big="{$data['goods_image']}">
				            		</li>
			            		</volist>
			            	</ul>
			            </div>
					</div>
				</div>
				<div class="g-mi">
					<div class="tit">
						<h1>{$vo['goods_name']}
							<if condition="$vo['is_auth'] eq '1'">
								<span>平台认证</span>
							</if>
							<span style="display:none;" <if condition="$vo['is_on_sale'] eq '0'">class="xia"</if>>已下架</span>
						</h1>
					</div>
					<p class="txt">{$vo['introduction']}</p>
					<p class="mip">
						<span>价格：<i>RM{$vo['goods_price']}</i></span>
						<span>热销：{$vo['sale_number']}件</span>
						<span>浏览量：{$vo['browsing_number']}</span>
					</p>
					<div class="attrList" id="Jgoods-sku">
						
					</div>
					<div class="stype" style="overflow:hidden;font-size:16px;color:#999;line-height:40px;">
						<span style="float:left;margin-right:30px;">送货方式：</span>
						<div class="it" style="float:left;margin-right:20px;">
							<input type="radio" <if condition="strpos($vo['express_type'], '1') !== false">checked</if> disabled>
							<i>上门自取</i>
						</div>
						<div class="it" style="float:left;margin-right:20px;">
							<input type="radio" <if condition="strpos($vo['express_type'], '0') !== false">checked</if> disabled>
							<i>送货上门</i>
						</div>
					</div>
					<div class="btn-panel">
						<if condition="$vo['is_on_sale'] eq '0'">
							<a href="javascript:;" class="g-fix-num-b Jinsale" data-sale="1">上架</a>
						<else/>
							<a href="javascript:;" class="g-fix-num-b Jinsale" data-sale="0">下架</a>
						</if>
					</div>
				</div>
			</div>
			<div class="g-dt-com">
				<div class="rt">
					<div class="g-tab">
						<a href="javascript:;" class="J-tag on">商品详情</a>
						<a href="javascript:;" class="J-tag">累计评价 ({$commentCount})</a>
					</div>
					<div class="g-wrap-m">
						<!-- 详情 -->
						<div class="g-warp-item">
							{$goodsDesc}
						</div>
						<!-- 评价 -->
						<div class="g-warp-item pj" id="evacont" style="display:none;">
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="page-box" id="pageBox"></div>
	</div>
	<!-- 弹窗 -->
	<div class="mask"></div>
	<div class="to_care_sale">
		<p>是否确认上架？</p>
		<div class="btn">
			<span data-type="1">确定</span>
			<span data-type="0">取消</span>
		</div>
	</div>
	<div class="msevaimg">
		<img src="" id="JshowBigImage">
	</div>
</block>
<block name="script">
<script type="text/html" id="goodsSku_val">
<%for(var i = 0;i < attrNameInfo.length;i++){
	var data = attrNameInfo[i];%>
	<span><%=data['attr_name']%>：</span>
	<ul>
	<%for(var j = 0;j < attrNameInfo[i]['attrValue'].length;j++){
		var attrValue = attrNameInfo[i]['attrValue'][j];%>
		<li <%if(j >= 0){%> on<%}%><%=attrValue['attr_value']%></li>
	<%}%>
	</ul>
<%}%>
</script>
<script type="text/html" id="evacont_tpl">
	<!-- <div class="alleva_assess">
		<p><span>总评分：</span><i>4.0</i></p>
		<div class="eva_star_m">
			<div class="star on"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
		</div>
	</div> -->
	<div class="goods_assess">
	<%for(var i = 0;i < list.length;i++){
		var data = list[i],
			date = new Date(data['add_time'] * 1000);%>
		<div class="eva_list_box">
			<div class="user_eva">
				<div class="eva_top">
					<div class="eva_user">
						<img src="<%=data['headimgurl']%>">
						<span><%=data['nickname']%></span>
					</div> 
				</div>
				<p><%=data['contain']%></p> 
				<div class="eva_goodsimg">
					<%for(var j = 0;j < list[i]['images'].length;j++){
						var image = list[i]['images'][j];%>
					<div class="imgbox"><img src="<%=image%>"></div>
					<%}%>
				</div> 
				<div class="eva_goods_cont">
					<span><%=date.pattern('yyyy-MM-dd')%></span> <span> <%=date.pattern('HH:mm:ss')%></span> <span>购买型号：<%=data['attr_list']%></span>
				</div>
			</div>
		</div>
	<%}%>
	</div>
</script>
<script type="text/javascript" src="__PUBLIC__/Shop/js/jquery.imagezoom.min.js"></script>
<script type="text/javascript">
	var slideNum = '' //当前页
	var slideLen = '' //商品图片数量
	var is_on_sale = '0',
		page = 1;
	var id,is_comment = true;
	/*使用模板引擎*/
    var bt = baidu.template;

    function initializeData() {
		 // 动态设置.g-pic-tab的宽度
        var lw = $('.g-pic-tab').find('li').outerWidth();
        var leng = $('.g-pic-tab').find('li').length;
        $('.g-pic-tab').css('width',lw*leng);
        $('.jqzoom').imagezoom();// 商品图放大
        slideLen = "{:count($goodsImages)}";
    }
    initializeData();

    function loadEva(page) {
    	$.ajax({
			url: '{:U('Goods/goodsComment')}',
			type: 'POST',
			dataType: 'json',
			data: {
				page : page,
				type : '1',
				goods_id : "{$_GET['id']}"
			}
		})
		.done(function(returnData) {
			if ( returnData['data']['list'].length ) {
				var html = bt('evacont_tpl', returnData['data']);
				$("#contentwrapper").find('#evacont').html(html);
				createPageTags(returnData['data']['page'], returnData['data']['count'], 0);
				listenPageEvent(loadEva);
			} else {
				alert('暂无相关内容');
			}
		});
    }

    // 获取商品属性
    $.ajax({
		url : "{:U("Goods/getSkuAttr")}",
		type : "POST",
		dataType : "json",
		data : {}
	})
	.done(function(returnData){
		if( returnData['status'] == "200000" ){
			// var html = bt('goodsSku_val', returnData['data']['attrNameInfo']);
			// $("#Jgoods-sku").html(html);
		}else{
			alert("暂无相关内容");
		}
	})

	// 商品上架
	function setGoodsOnSale(){
		// ( is_on_sale == 0 ) ? is_on_sale = 1 : is_on_sale = 0;
		$.ajax({
			url : "{:U("Goods/setOnSale")}",
			type : "POST",
			dataType : "json",
			data : {
				ids : '{$_GET["id"]}',
				is_on_sale : is_on_sale
			}
		})
		.done(function(data){
			if(data.status == 200000){
				alert(data.message);
				window.location.href = window.location.href;
			}else{
				alert(data.message);
			}
		})
	}

	// 商品上架
	$("#contentwrapper").on("click", ".Jinsale", function(){
		is_on_sale = $(this).data('sale');
		( is_on_sale == '0' ) ? $(".to_care_sale p").text('是否确认下架？') : $(".to_care_sale p").text('是否确认上架？');
		$(".mask").fadeIn();
		$(".to_care_sale").fadeIn();
	})
	$(".to_care_sale").on("click", "span", function(){
		if($(this).attr("data-type") == 1){
			setGoodsOnSale();
			$(".mask").fadeOut();
			$(".to_care_sale").fadeOut();
			// $("#contentwrapper").find(".Jinsale").text("下架");
		}else{
			$(".mask").fadeOut();
			$(".to_care_sale").fadeOut();
		}
	})

    // 商品缩略图
    var index = 0;//当前下标
    var shift = 0;//位移
    $('#contentwrapper').on('mouseenter','.g-pic-tab li',function(){
        if(!$(this).hasClass('on')){
            $('.g-pic-tab').children('li').removeClass('on');
        }
        $(this).addClass('on');
        index = $(this).index();
        slideNum = index + 1;
        if(index == slideLen){
        	slideNum = 1;
        }
        $("#num").text(slideNum);
        // var pic = $(this).find('img').attr('src');
        // $('.g-pic').find('img').attr('src',pic);
        $(".jqzoom").attr('src', $(this).find("img").attr("mid"));
        $(".jqzoom").attr('rel', $(this).find("img").attr("big"));
    })
    $('#contentwrapper').on('click','.prev',function(){
        var pic = $('.g-pic-tab').children('li').find('img');
        var leng = $('.g-pic-tab').find('li').length;
        var lw = $('.g-pic-tab').find('li').outerWidth();
        var tw = $('.tempWrap').outerWidth();
        var gw = $('.g-pic-tab').width();
        var cw = gw-tw;
        shift += lw;
        index -= 1;
        slideNum = index + 1;
        if(index == -1){
        	slideNum = slideLen;
        }
        $("#num").text(slideNum);
        $('.g-pic-tab').find('li').removeClass('on') ;          
        $('.g-pic-tab').find('li').eq(index).addClass('on');
        if(shift <= 0){
            $('.g-pic-tab').css("webkitTransform","translateX("+shift+"px)");
        }           
        if(index < 0){
            shift = -cw;
            index = leng-1;
            $('.g-pic-tab').find('li').eq(index).addClass('on');
            $('.g-pic-tab').css("webkitTransform","translateX("+shift+"px)");
        }
        $(".jqzoom").attr('src', pic.eq(index).attr("mid"));
        $(".jqzoom").attr('rel', pic.eq(index).attr("big"));
    })
    $('#contentwrapper').on('click','.next',function(){
        var pic = $('.g-pic-tab').children('li').find('img');
        var leng = $('.g-pic-tab').find('li').length;
        var lw = $('.g-pic-tab').find('li').outerWidth();
        var tw = $('.tempWrap').outerWidth(); 
        var gw = $('.g-pic-tab').width();
        var cw = gw - tw + lw;
        shift -= lw;  
        index += 1;
        slideNum = index + 1;
        if(index == slideLen){
        	slideNum = 1;
        }
        $("#num").text(slideNum);
        $('.g-pic-tab').find('li').removeClass('on') ;          
        $('.g-pic-tab').find('li').eq(index).addClass('on');
        if(shift >= -tw && index>4){
            $('.g-pic-tab').css("webkitTransform","translateX("+shift+"px)");                
        }
        if(index == leng){
            shift = 0;
            index = 0;
            $('.g-pic-tab').find('li').eq(index).addClass('on');
            $('.g-pic-tab').css("webkitTransform","translateX("+shift+"px)");
        }
        $(".jqzoom").attr('src', pic.eq(index).attr("mid"));
        $(".jqzoom").attr('rel', pic.eq(index).attr("big"));
    })

    // 选择属性
    $("#contentwrapper").on('click','.attrList ul li',function(){
    	$(this).addClass("on");
    	$(this).siblings("li").removeClass("on");
    })

    //详情、评价切换
    $("#contentwrapper").on('click','.g-tab a',function(){
    	$(this).addClass('on');
    	$(this).siblings().removeClass('on');
    	var index = $(this).index();
    	$(".g-warp-item").hide();
    	$('.g-warp-item').eq(index).show();
    	if(index == '1' && is_comment == true){
    		loadEva(1);
    		is_comment = false;
    	}
    	( index == '1' ) ? $('#pageBox').show() : $('#pageBox').hide();
    })

    //评论图片放大
    $("#contentwrapper").on("click",'.eva_goodsimg .imgbox img',function(){
    	var image = $(this).attr("src");
    	$('.mask').fadeIn();
    	$('.msevaimg').fadeIn();
		$('#JshowBigImage').attr('src', image);
    })
    $(".mask").on('click',function(){
    	$(this).fadeOut();
    	$('.msevaimg').fadeOut();
    })
</script>
</block>