<extend name="Common:base" />

<block name="title">商品查询排行</block>

<block name="menu">
	<include file="Goods:menu" />
</block>

<block name="main">
	<div class="pageheader">
	    <h1 class="pagetitle">
	    	商品查询排行
	    </h1>
	    <span class="pagedesc"></span>
	</div>
	<div id="contentwrapper" class="contentwrapper">
		<form action="{:U('Goods/goodsRanking')}" method="get" id="searchForm">
            <p>
            	<label>店铺名称：</label>
             	<input type="text" name="agent_name" placeholder="输入搜索店铺名称" value="{$return['agent_name']}" />
             	&nbsp;&nbsp;
             	<label>商品名称：</label>
             	<input type="text" name="goods_name" placeholder="输入搜索商品名称" value="{$return['goods_name']}" />
             	&nbsp;&nbsp;
             	<label>平台分类：</label>
				<select name="category_id">
					<option value="">全部</option>
					<volist name="categoryList" id="data">
					<option value="{$data['id']}" <if condition="$data['id'] eq $return['category_id']">selected</if>>{$data['category_name']}</option>
					</volist>
				</select>
				&nbsp;&nbsp;
				<label>商品状态：</label>
				<select name="is_on_sale">
					<option value="-1" <if condition="$is_on_sale eq '-1'">selected</if>>全部</option>
					<option value="1" <if condition="$is_on_sale eq '1'">selected</if>>已上架</option>
					<option value="0" <if condition="$is_on_sale eq '0'">selected</if>>已下架</option>
				</select>
				&nbsp;&nbsp;
             	<input type="submit" value="筛选">
            </p>
            <table cellpadding="0" cellspacing="0" border="0" class="stdtable stdtablequick">
				<tr>
					<th>排序</th>
					<th>商品名称</th>
					<th>平台分类</th>
					<th>店铺名称</th>
					<th>销量</th>
					<th>热度</th>
					<th>收藏</th>
					<th>商品价格</th>
					<th>状态</th>
					<th>添加时间</th>
				</tr>

				<if condition="empty($list)">
					<tr>
						<td colspan="10">暂无相关数据</td>
					</tr>
				<else />
					<volist name="list" id="goods">
						<tr>
                            <td>{$goods['ranking']}</td>
							<td><img src="{$goods['goods_image']}" alt="" height="40px">&nbsp;&nbsp;&nbsp;{$goods['goods_name']|mySubstr=###,43}</td>
							<td>{$goods['category_name']}</td>
							<td>{$goods['agent_name']}</td>
							<td>{$goods['sale_number']}</td>
							<td>{$goods['search_number']}</td>
							<td>{$goods['collect_number']}</td>
							<td>{$goods['goods_price']}</td>
							<td>
								<if condition="$goods['is_on_sale'] eq '1'">
									已上架
								<else />
									下架
								</if>
							</td>
							<td>{:time_format($goods['add_time'])}</td>
						</tr>
					</volist>
					<tr>
						<td colspan="10">
							<div class="page-box">{$show}</div>
						</td>
					</tr>
				</if>
			</table>
		</form>
	</div>
</block>

<block name="script">
<script type="text/javascript">
</script>
</block>