<extend name="Public:base" />
<block name="main">
	<div class="content" id="content">
		<header class="head">
			<span class="back"></span>
			<h1 class="y-confirm-order-h1">{$Think.lang._COMMON_FOOTER_NOTIFICATION_}</h1>
			<a href="{:U('MessageCheck/issuedMessage')}" class="mail">{$Think.lang._WAP_MESSAGE_MYPOSTHISTORY_}</a>
		</header>
		<div class="main">
			<div class="sysNews_wrap">
				<ul>
					<li v-for="(item, index) in messageList">
						<div class="sysbox" @click="jumpToMessage(item['id'])">
							<p class="title"><span>{{item['title']}}</span><i>{{item['add_time']|time}}</i></p>
							<div class="imgbox">
								<img :src="item['image']">
							</div>
							<!-- <p class="cont db-overflow">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin</p> -->
							<a href="javascript:;" class="seenews">{$Think.lang._COMMON_SEE_DETAILS_}></a>
						</div>
					</li>
				</ul>
				<a href="{:U('MessageCheck/issuingMessage')}" class="releaseNews">{$Think.lang._WAP_MESSAGE_CREATEPOST_}</a>
			</div>
		</div>
	</div>
</block>
<block name="curScript">
<script type="text/javascript">
	var vm = new Vue({
		el : "#content",
		data : {
			messageList : [],
			page : 1,
		},
		created(){
			this.loadMessage();
			this.loadmore();
		},
		mounted(){
		   $('#Jloading').fadeOut();
		},
		methods : {
			loadMessage : function() {
				var that = this;
				$.ajax({
					url: '{:U('Message/systemMessage')}',
					type: 'POST',
					dataType: 'json',
					data: {
						page : that.page,
						status : '1'
					}
				})
				.done(function(returnData) {
					if( returnData['data']['list'].length > 0 ){
						if( that.messageList.length == 0 ){
							that.messageList = returnData['data']['list'];
						}else{
							that.messageList = that.messageList.concat(returnData['data']['list']);
						}
						that.goscroll = 1;
					}else{
						that.goscroll = 0;
					}
				});
			},
			loadmore(){
				var that = this;
				document.addEventListener("scroll",function(){
					var scrollTop = window.pageYOffset 
						|| document.documentElement.scrollTop 
						|| document.body.scrollTop 
						|| 0;
					if(scrollTop + window.innerHeight >= document.body.clientHeight){
						if(that.goscroll){
							that.page++;
							that.goscroll = 0;
							that.loadMessage();
						}
					}
				})
			},
			jumpToMessage(id) {
				window.location.href = "{:U('Message/messageDetail')}?id=" + id;
			}
		}
	})
</script>
</block>